[2019-08-28 21:50] cmungall opened #1 "Document policy on ontology change policy"
The ontologies we use such as ENVO will change over time. We need to document procedures implemented in NMDC for managing these changes.

[2019-08-28 21:50] cmungall commented on #1
Draft here: https://docs.google.com/document/d/1L7grygL3KLAc9H_2amwRxE6FgBnIuH-kmcdMjH6b1PY/edit

[2019-08-30 05:51] cmungall opened #2 "Document policy on identifiers"
Should NMDC mint new identifiers, or reuse? Does this depend on the source? Do we also maintain mappings, e.g. between gold and ncbi?

[2019-08-30 05:51] cmungall commented on #2
I will link ESS-DIVE/ISGN presentation here later

[2019-09-26 23:14] cmungall opened #3 "catalogue NMDC-approved standards in FAIRsharing.org"

[2019-09-26 23:15] cmungall opened #4 "Identification and review of non-MIxS metadata schemas registration in FairSharing.org"
e.g. the WHONDRS Metabolite Biogeography Metadata profile,

[2019-09-26 23:54] cmungall opened #5 "1.2.2 First pass at mapping GOLD to ENVO"

[2019-09-26 23:57] cmungall opened #6 "1.2.2 Gap-filling missing terms present in GOLD and not in EnvO"

[2019-10-04 01:45] wdduncan commented on #5
I updated the mapping file see: `gold-env-top7-mapping.ipynb`.
I also got the code to create bipartite graphs working see: `gold-env-elevels-analysis.ipynb`

Can the bipartite approach yield interesting analysis? I'm out of my depth here regarding graph theory.

This article looks interesting: https://academic.oup.com/gigascience/article/7/4/giy014/4875933

[2019-10-08 18:08] wdduncan commented on #6
We have a lot NaN and unclassified values. Do we want special class to identify unclassified data? NaN can mean missing data, while (perhaps) means the data is present, but there isn't an appropriate label/value to tag it with.

[2019-10-08 18:09] wdduncan commented on #6
### ECOSYSTEM_TYPE values

[2019-10-08 18:21] wdduncan commented on #6
### ECOSYSTEM_CATEGORY values (top 7 most occurring)

|    | ECOSYSTEM       | ECOSYSTEM_CATEGORY   |
|---:|:----------------|:---------------------|
|  0 | Engineered      | Built environment    |
|  1 | Engineered      | Wastewater           |
|  2 | Environmental   | Aquatic              |
|  3 | Environmental   | Terrestrial          |
|  4 | Host-associated | Human                |
|  5 | Hos

[2019-10-08 18:26] wdduncan commented on #6
### ECOSYSTEM_TYPE values (top 7 most occurring)

|    | ECOSYSTEM       | ECOSYSTEM_CATEGORY   | ECOSYSTEM_TYPE   |
|---:|:----------------|:---------------------|:-----------------|
|  0 | Engineered      | Built environment    | Unclassified     |
|  1 | Engineered      | Built environment    | City             |
|  2 | Engineered      | Wastewater           | Unclassified     |
|  3 | Environm

[2019-10-08 18:33] wdduncan commented on #6
### ECOSYSTEM_SUBTYPE values (top 7 most occurring)

|    | ECOSYSTEM       | ECOSYSTEM_CATEGORY   | ECOSYSTEM_SUBTYPE   |
|---:|:----------------|:---------------------|:--------------------|
|  0 | Engineered      | Built environment    | Unclassified        |
|  1 | Engineered      | Wastewater           | Unclassified        |
|  2 | Engineered      | Built environment    | Subway

[2019-10-08 18:37] wdduncan commented on #6
### SPECIFIC_ECOSYSTEM values (top 7 most occurring)

|    | ECOSYSTEM       | ECOSYSTEM_CATEGORY   | ECOSYSTEM_SUBTYPE   | SPECIFIC_ECOSYSTEM   |
|---:|:----------------|:---------------------|:--------------------|:---------------------|
|  0 | Engineered      | Built environment    | Unclassified        | Unclassified         |
|  1 | Engineered      | Wastewater           | Unclassified

[2019-10-15 18:28] cmungall opened #7 "Create IDs for GOLD tree nodes"
Algorithm:

for any 5 tuple, with depth N (1 <= N <=5), i.e. t1,t2,...,tn
create a class:

 * uri: hash of t1,..,tn
 * rdfs:label "t1 t2 ... tn"
 * rdfs:subClassOf id of t1,..,t(n-1)

[2019-10-15 18:31] cmungall opened #8 "Evaluate GOLD-ENVO mapping using independently annotated samples"
Using #7 and @kaiiam's mapping of GOLD 5-tuples to ENVO tuples, take samples in the NMDC flagship set, and compare resulting ENVO annotations to Torben's ENVO annotations of sample samples.

I suggest we use a simple jaccard measure: combine all ENVO terms in 3-tuple, include isa/partof closure, compute jaccard sim

ontobio has code for this

[2019-10-15 23:45] wdduncan commented on #6
@cmungall I did an analysis looking for null values followed by a non-null values. I did not find any such rows. Details are found in the notebook: `gold-env-null-value-analysis.ipynb`

[2019-10-16 00:38] cmungall commented on #6
This is v useful. We can compare this with kai's mappings. But for now let's switch focus to #6 and #7

[2019-10-17 00:03] wdduncan commented on #7
@cmungall
Ontology based on data in `Biosample_all.tsv.gz` has been created in the `microbiomedata/GOLD-ontology-translation` repo.

Path to ontology is `GOLD-ontology-translation/notebooks/output/gold-dataset-translation.owl`.

[2019-12-16 20:00] cmungall opened #10 "Add study to nmdc schema"

[2019-12-16 20:00] cmungall opened #11 "Generate markdown docs from nmdc schema"
@deepakunni3 can help with this

[2019-12-16 20:01] cmungall opened #12 "iterate on gold->json converter"
TBD: use the generated python classes vs direct creation of json

At first we will select the most used fields in GOLD and prioritize these for mapping to mixs

[2019-12-18 17:37] cmungall opened #15 "ids should not be treated as annotations"
E.g. in

[code]

[2019-12-19 21:06] cmungall opened #17 "Generate a UML diagram for whole schema"
See https://github.com/biolink/biolinkml/blob/master/notebooks/examples.ipynb for an example

[2019-12-19 21:08] cmungall commented on #12
For now the output is here https://github.com/microbiomedata/GOLD-ontology-translation/tree/master/notebooks/output can we put in this repo @wdduncan ?

[2019-12-19 21:47] cmungall opened #19 "ensure generated json validates using the json-schema"

[2019-12-19 21:52] cmungall opened #20 "Set up travis and add a test target to Makefile"
I recommend cribbing directly from:

https://github.com/biolink/biolink-model/blob/master/.travis.yml

[2019-12-19 23:41] cmungall opened #21 "Incorporate geolocation validation step into pipeline"
From @tbkreddy:

As per our conversation and action item for me in today's meeting, I am providing the code below the code used by GOLD website to convert/verify user-entered geolocation name into lat/long information.

To obtain coordinates from an address/location we use the Leafletjs javascript library. The main library plus the geocode javascript needs to be available plus the css. Examples fo

[2020-01-10 20:05] cmungall opened #23 "Add data object to schema"
Required for linking data objects (e.g. fasta files) to samples

[2020-01-18 16:19] wdduncan commented on #12
Added study and project to the schema, and moved external repos into nmdc-metadata repo.

[2020-01-24 22:06] wdduncan commented on #23
data object has been added

[2020-01-29 01:25] deepakunni3 opened #26 "Vulnerabilities in one of the dependencies in this repo"
GitHub report: https://github.com/microbiomedata/nmdc-metadata/network/alert/GOLD-ontology-translation/notebooks/requirements.txt/pycrypto/open

Not sure if this is of concern, but would be good to see if we can avoid depending on the vulnerable packages altogether.

[2020-01-29 23:10] dehays opened #27 "Ignore GOLD biosamples for which the ACTIVE field is false"
The project and biosample JSON produced includes several hundred more biosamples than projects with many of the biosamples referring to projects not represented in the JSON.   I believe this is due to the inclusion of biosample records from GOLD that are not ACTIVE.

[2020-01-30 18:40] cmungall commented on #2
When we use gold IDs etc we should always use CURIEs/prefixed IDs, and have these registered

[2020-01-30 18:51] wdduncan opened #28 "coordinate metadata with IGSN"
We should coordinate our metadata with the IGSN metadata. Here is a link to the IGSN metadata doc:

https://docs.google.com/spreadsheets/d/1pV1zmqRFbAhA9kxcbOnz2RDWO8siXjnlfL2VhYJHDiM/edit#gid=0

[2020-02-04 18:30] cmungall opened #29 "Include PI information"

[2020-02-04 18:39] cmungall opened #30 "Figure out interaction between smartsheets and GitHub"
We use GitHub for fine-grained issues. I have added a [high priority](https://github.com/microbiomedata/nmdc-metadata/labels/high%20priority) label to this tracker so that I can communicate leadership priorities. Currently these are mostly things we need for GSP.

I had also considered making a GH project for tracking GSP items (this could be used for both pilot and this repo) but this would creat

[2020-02-04 19:08] deepakunni3 commented on #27
I believe this is now being done as part of https://github.com/microbiomedata/nmdc-metadata/blob/master/GOLD-ontology-translation/notebooks/translate-study-project-biosample.ipynb notebook.

@wdduncan Thoughts?

[2020-02-04 19:10] deepakunni3 commented on #23
@wdduncan If this is done then feel free to close this ticket (but do refer the PR that contains the addition)

[2020-02-04 19:16] wdduncan commented on #27
Projects are being filtered for only records where "active = 'Yes'"
[code]
Same for studies and biosamples.

[2020-02-04 19:18] wdduncan commented on #23
Data object added to schema.

[2020-02-04 19:18] #23 closed

[2020-02-04 19:19] wdduncan commented on #10
Study has been added to schema.

[2020-02-04 19:19] #10 closed

[2020-02-04 19:21] wdduncan commented on #29
The PI table needs to be included in the data dump. If this is not possible, I might be able to grab the PI name from the analysis project table.

[2020-02-04 19:22] #27 closed

[2020-02-04 19:24] wdduncan commented on #12
We are using the NMDC python classes to generate JSON. Schema, now has study, project, biosample, and data object classes.

Needs:
* PI table
* Links to data objects (e.g., EMSL data)

[2020-02-04 19:37] wdduncan commented on #19
@deepakunni3 I believe you did this. Can you share your script? Did you use JSON-schema? I've never used it.

@cmungall If we can't validate inherited classes, should we convert to RDF and use ShEx?

[2020-02-04 21:02] cmungall opened #31 "Link GOLD and EMSL samples"

[2020-02-04 21:06] wdduncan opened #32 "Add DOI to study characteristic metadata"
Use [mapping spreadsheet](https://docs.google.com/spreadsheets/d/1sowTCYooDrOMq0ErD4s3xtgH3PLoxwa7/edit#gid=1363834365) to add DOIs to study characteristics.

[2020-02-04 21:28] dehays commented on #29
@wdduncan  I am looking at the data from GOLD (aka 'the data dump') . and the PI information is there though I can see how it might not be easy to see because the relevant field on the STUDY table is not called PI it is called CONTACT_ID.  That is the FK to the CONTACT table.

Example:  If I look at the study record for STUDY_ID = 110132 (GOLD_ID is Gs0110132) . I see a CONTACT_ID of 100043.  In t

[2020-02-05 03:16] wdduncan commented on #29
Thanks @dehays
In the CONTACT table, I see two contact_ids for Matthias Hess: 100043 and 115767

[2020-02-05 03:28] dehays commented on #29
@wdduncan But in the case of study 110132 the contact record to associate as PI is the one the study record points to, 100043.

There is another thing that Reddy reminded me of today - both the study and the project will have PIs and they are not required to be the same.  I don't think that case occurs in the 13 studies being used for the NMDC pilot, but with GOLD as your source for metadata that

[2020-02-05 19:34] cmungall opened #33 "Map classes in schema to other resources (low priority)"
E.g. biosample should be mapped to OBI sample

[2020-02-05 20:57] dehays commented on #30
@cmungall Yes, there are ways to set event triggers and use their APIs to connect Smartsheet and GitHub.  Before someone spends time on that - you could just add the link to an issue here for anything you add to a Smartsheet.

Two things I think I understand 1) Aim 1 is happy managing work at the GitHub level (Are EMSL A1 people using this repo?) . 2) While providing the 'what's the plan' Smartshe

[2020-02-06 19:57] wdduncan commented on #29
PI name has been added at both the study and project level. For now, it is a characteristic of the study/project. We look into developing a more adequate schema at a later iteration.

[2020-02-06 19:57] #29 closed

[2020-02-07 04:55] cmungall commented on #7
@wdduncan can this ticket be closed?

I recall discussion:

Is this the case? If so we should follow up with @jagadishcs and Reddy on the Monday meeting

[2020-02-08 21:47] wdduncan commented on #7
As far as I know, this has not been done yet. Let's follow up on Monday morning.

[2020-02-08 21:50] wdduncan commented on #31
I've put this on the agenda for Monday.

[2020-02-08 21:56] wdduncan commented on #21
I put this on the agenda for Monday. I think part of this needs to be implemented by Kitware. But, if an api is available, there may be some characteristics I can enrich the data with.

[2020-02-08 22:05] wdduncan commented on #26
Yes. I remember seeing that. I'm not seeing a security warning now though.

[2020-02-08 22:13] wdduncan commented on #15
The biosample_id field comes from the database. I can ignore it, but I find such information is good for tracking down errors.
How do you want to treat such fields?  I would say it could be treated as some kind of provenance information. Do you have a principle in mind for distinguishing between annotations and provenance information?

[2020-02-08 22:45] wdduncan commented on #20
Do we want to do this once the pipeline is a little more in place? I have the libraries that needed to transform data into json, but we get the data through ad-hoc methods right now.

Also, I am unsure what travis does regarding this.

[2020-02-08 22:49] wdduncan commented on #17
I think we may be able to close this. We are using the Makefile to generate the full schema.
The call to build the schema in python is:
[code]

[2020-02-08 22:53] wdduncan commented on #11
@deepakunni3 told me not load the *.md files on the github site. I can recall the reason why. The *.md files are being used to generate documentation on https://microbiomedata.github.io/nmdc-metadata/.

[2020-02-09 03:52] wdduncan commented on #2
Do we want to identify a namespace curie for the URIs?
e.g., nmdc: -> http:purl.nmdc.org

We use append custom obo-style ids.
e.g., nmdc:GOLD_0001, nmdc:EMSL_00001, nmdc:ESS-DIVE_00001 etc.

[2020-02-09 09:12] deepakunni3 commented on #11
@wdduncan The MD files generated for the documentation may have formatting and other things that are specific to GitHub pages. And these formatting can be rendered incorrectly in traditional markdown.

But is there a use-case for having the markdown files all by itself, in addition to the documentation site:  https://microbiomedata.github.io/nmdc-metadata/

IIRC, in this ticket @cmungall was refer

[2020-02-09 09:14] deepakunni3 commented on #17
This is done and we have a target in the Makefile too.

[2020-02-09 09:14] #17 closed

[2020-02-09 09:15] deepakunni3 commented on #20
This is already done. We run travis on each commit on `master` branch.
Currently the travis test involves just doing a dry run of generating artifacts, to ensure that the schema YAML is valid.

[2020-02-10 17:52] wdduncan opened #35 "Map GOLD ecosystem paths to ENVO"
cc @kaiiam @pbuttigieg

[2020-02-10 17:58] wdduncan commented on #5
Closing this ticket. We can track progress in #35

[2020-02-10 17:58] #5 closed

[2020-02-10 18:00] wdduncan commented on #7
We will track this using ticket #35

[2020-02-10 18:00] #7 closed

[2020-02-10 18:40] cmungall opened #36 "Create minimal metadata field list and map to MIxS"

[2020-02-10 18:47] wdduncan opened #37 "Use MIxS display names for fields/characteristics"

[2020-02-10 18:56] cmungall commented on #31
https://docs.google.com/spreadsheets/d/1jGRPFR6ysbB96_qzXNPLJAVvnKrfwRbQ/edit#gid=696480896

[2020-02-10 20:58] wdduncan commented on #36
Human readable labels have been added in mixs_label column for the **soil package**. Similar mappings to done for other packages. The MIxS spreadsheet is available here:

https://docs.google.com/spreadsheets/d/1P4v7sGSXW4sKWVwOXASYuXxQBWVq7X-ueeiTcoHjLGY/edit#gid=2022235624

There are still issues that need to be resolved:

1. Some GOLD fields cannot be mapped to MIxS terms, for example the GOLD f

[2020-02-10 21:00] wdduncan commented on #31
Link to the agenda:
https://docs.google.com/document/d/1ZkC2hdnTGIVlKyHiJ2UxH4-tRVqDy5mHramhuj-dndA/edit

[2020-02-11 01:03] wdduncan opened #38 "Unclassified ecosystem subtype with specific ecosystem value"
@cmungall
We need to determine the meaning of GOLD classifications in which the ecosystem subtype is unclassified, but the the specific ecosystem has a value.

There aren't many of them (~17). See screenshot. But, in general, what does the value 'Unclassified' mean? Does it mean 'missing' or 'unknown' or something else?

I am hoping @jagadishcs can shed light on this.

<img width="1087" alt="Scree

[2020-02-11 22:24] dehays opened #39 "Add project category to JSON based on sequencing_strategy from GOLD project table"
Each project entity needs to include a category which is available from the SEQUENCING_STRATEGY field of the PROJECT table in GOLD.

The only two values we should see from GOLD for the FICUS project metadata are:

Metagenome
Metatranscriptome

(EMSL will be providing 4 additional categories for their projects)

[2020-02-12 01:21] wdduncan commented on #39
There is also field called `sequencing_strategy_full`. Do you know the difference?
perhaps @jagadishcs does?

[2020-02-12 01:26] wdduncan commented on #39
To follow up:
This query:
[code]
returns:
[code]

This query:
[code]
returns:
[code]
So, the difference is the `Metagenome - Cell Enrichment` value. Does this matter?

[2020-02-12 04:27] dehays commented on #39
I’d thought the SEQUENCING_STATEGY_FULL  field would be more specific than
SEQUENCING_STATEGY.  I hadn’t expected them to overlap.

What you have in your PROJECT table is only the 913 FICUS projects?  I’m
really curious about the projects that are neither Metagenome or
Metatranscriptome

David

On Tue, Feb 11, 2020 at 5:26 PM Bill Duncan <notifications@github.com>
wrote:

[2020-02-12 04:41] jagadishcs commented on #38
![image](https://user-images.githubusercontent.com/54855373/74303441-b0d74400-4d0e-11ea-99b1-8a66f1091dbd.png)

[2020-02-12 18:40] cmungall opened #40 "Create and fill in spreadsheets to be sent to PIs to collect additional metadata"

[2020-02-12 21:30] wdduncan commented on #39
Based on Reddy's comments at the meeting today (2/12/2020), we should use the `SEQUENCING_STRATEGY` field.

[2020-02-13 00:48] #39 closed

[2020-02-13 01:05] wdduncan commented on #38
@jagadishcs  Thanks for the explanation!
I'm going to close this issues.

[2020-02-13 01:05] #38 closed

[2020-02-13 01:51] wdduncan commented on #36
@jagadishcs In the google sheet, you marked `heavy_metals` as "1" even thought the definition was wrong. Is it still correct?

Other questions/issues:
1. I unmarked the `is_map` for the `annual_season_temp/precpt` fields. We need to come up with a resolution plan.
2. You marked "1" for the `salinity_meth` field (row 64), but the label reads "extreme_unusual_properties/salinity method". Does this s

[2020-02-13 18:07] dehays opened #42 "ingest metadata from EMSL"
The EMSL instrument run metadata has been added as Excel spreadsheet here:

https://drive.google.com/drive/u/0/folders/1frzGlz8EB8inpVokNTSwD6Ia94eVUlsZ

Mapping is currently to EMSL proposal ID which we need to map to the GOLD study IDs

These include the omics type (proteomics, metabolomics, ...) field.

We need to select which fields to map into our project and data_object JSON

[2020-02-13 19:19] wdduncan commented on #32
DOIs have been added to study.json.

[2020-02-13 19:19] #32 closed

[2020-02-13 20:08] jagadishcs commented on #36
![image](https://user-images.githubusercontent.com/54855373/74473953-61515f00-4e59-11ea-8910-2d386ce516ed.png)

[2020-02-13 21:11] wdduncan commented on #42
The only EMSL proposal ID that I find in the spreadsheet is 49991. This doesn't seem to map to any of the study gold ids I have:
Gs0114432
Gs0114663
Gs0114298
Gs0111539
Gs0110148
Gs0110115
Gs0110132
Gs0110198
Gs0121594
Gs0112340
Gs0128781
Gs0114675
Gs0133461
Gs0128849
Gs0130354
Gs0135149
Gs0135152
Gs0134277
Gs0120351

[2020-02-13 21:33] dehays commented on #42
@wdduncan Find the mapping from EMSL proposal ID to GOLD Study ID here:  [](https://docs.google.com/spreadsheets/d/1BX35JZsRkA5cZ-3Y6x217T3Aif30Ptxe_SjIC7JqPx4/edit)

[2020-02-13 21:34] wdduncan commented on #26
Since we can't access the vulnerably page anymore, I am going to close this.

[2020-02-13 21:35] wdduncan commented on #19
@deepakunni3 Did you put the validation script in the repo?

[2020-02-13 23:05] wdduncan commented on #42
Hi @dehays to summarize action items from our call:

* Change `sequencing_strategy` to `omics_type`.
* Create an `omics processing` entity (subtype of `biosample processing`) in which to represent GOLD sequencing projects as well as instrument runs from EMSL.
* Proposed characteristics for omics processing entities from EMSL:
  - `Dataset ID` to be used as the identifier for the process.
  -  `Dat

[2020-02-13 23:40] dehays commented on #42
The fields of the data_object metadata I gave to Kitware generated from JAMO had the following fields:

GOLD Project ID   --> . This should map to the ids in the projects.json you have.
JAMO hash ID . --> unique file identifier
File Name . --> Not necessarily unique
Category . --> this is derived from a field used by JGI's Genome Portal
File Type --> doesn't look useful for display, I may use it t

[2020-02-13 23:53] wdduncan commented on #42
@dehays Where is the JAMO file?

[2020-02-14 01:30] wdduncan opened #43 "UML schema image has "124""
@deepakunni3 @cmungall
The UML schema image has the string "124" in the classes that list the slots. Any idea why?

[2020-02-14 20:24] dehays commented on #42
@wdduncan Working right now to produce a set from JAMO metadata for the fastq and assemblies.

[2020-02-15 17:57] dehays commented on #42
@wdduncan I've added a tsv (including headers) for the fastq files here:
https://drive.google.com/drive/u/0/folders/1frzGlz8EB8inpVokNTSwD6Ia94eVUlsZ

I need to query differently for the fna and faa because they have no GOLD project metadata keys in JAMO, but those tsv files will have the same fields.

[2020-02-18 21:19] dehays opened #44 "ingest JAMO metadata for data objects"
JAMO is the archive of files generated by JGI from a projects sequencing and analysis output.  Metadata from GOLD goes as far as specifying a project ID, but JAMO holds the files/datasets that were produced.

I've added three files:  ficus_project_fastq.tsv, ficus_project_fna.tsv and ficus_project_faa.tsv to the shared directory here:

 https://drive.google.com/drive/u/0/folders/1frzGlz8EB8inpVokN

[2020-02-19 01:28] jagadishcs commented on #40
I have been working on soil biosample fields of FICUS proposals; I am trying to give you this spreadsheet by tomorrow evening.

[2020-02-20 20:10] wdduncan commented on #42
EMSL data has been integrated. So, I'm going to close this.

[2020-02-20 20:10] #42 closed

[2020-02-20 23:14] #44 closed

[2020-02-21 17:41] wdduncan opened #48 "Omics processing not in documentation"
The OmicsProessing class is not listed in the documentation site: https://microbiomedata.github.io/nmdc-metadata/

[2020-02-21 21:29] wdduncan commented on #31
@cmungall here is an update on the status:
We have linked EMSL instrument runs / omics processings to their data objects (outputs), and to the GOLD studies (proposals).

We are yet able to link to the GOLD biosamples.

[2020-02-25 18:01] cmungall commented on #26
still there

[2020-02-25 18:01] cmungall commented on #26
we also need to reduce our requirements.txt to only actual requirements

[2020-02-25 18:02] cmungall commented on #26
See also #50

[2020-02-26 18:54] #43 closed

[2020-02-26 19:51] wdduncan commented on #48
This was fixed when the new documentation was built. Thanks @deepakunni3 !

[2020-02-26 19:51] #48 closed

[2020-02-26 20:56] wdduncan commented on #26
The vulnerability has been addressed.

[2020-02-26 20:56] #26 closed

[2020-02-26 21:42] wdduncan opened #52 "Automate translation pipeline using papermill"
The translation pipeline consists of running of three notebooks. This can be automated using [papermill](https://papermill.readthedocs.io/en/latest/)

[2020-02-27 00:20] cmungall commented on #26
Fixed by #51

[2020-02-27 16:45] #52 closed

[2020-02-28 21:07] wdduncan commented on #11
@cmungall I think we can close this ticket. Agree?

[2020-03-02 07:22] #11 closed

[2020-03-04 22:29] cmungall commented on #40
Can you link to sheet from here? Thanks!

[2020-03-05 01:35] wdduncan commented on #36
MIxS v5 package specific spreadsheets uploaded to google drive folder https://drive.google.com/drive/u/1/folders/13DVA0GGoypGIwzCTdKWS4eNh3Y8tjX3y:
* Soil: https://docs.google.com/spreadsheets/d/1HoEw9pCAQgrmEeWO8xqkyy1GDAzuzFSAF7s5fFrjbVM/edit#gid=731424353
* Plant associated: https://docs.google.com/spreadsheets/d/1WQhIogbLqGSM_zwjSiUJ77IJB-Uh6hf_DeJNR-755Ho/edit#gid=695895006
* Water: https://d

[2020-03-05 21:06] cmungall commented on #2
Yes, we should use jsonld contexts to map prefixes

but we shouldn't mint new IDs for GOLD. We can register GOLD etc on n2t/identifiers.org

[2020-03-07 01:13] cmungall opened #54 "Align RDF representation with ESIP"
The ESIP folks (including @lewismc) have put together a nice doc on RDF modeling in earth sciences

@elishawc pointed me at this section:

https://github.com/ESIPFed/science-on-schema.org/blob/feature_13_specifying_identifiers/guides/Dataset.md#attaching-physical-samples-to-a-dataset

this describes modeling of samples in ESIP.

@wdduncan you will be co-located with @lewismc next week, the two of

[2020-03-09 21:40] cmungall opened #55 "Implement lat-long checks"
We have cases where the lat-long info is wrong (or at least has confused semantics: location of processing vs location of collection). This was spotted due to expert knowledge about pre-existing pipelines. We want to be able to scale this up and do this more efficiently.

Some possible automated and semi-automated checks:

 1. [ ] if the location corresponds to JGI or PNNL flag it. While it is pos

[2020-03-09 22:09] cmungall opened #56 "Register gold prefixes on identifiers.org and n2t.net"
See also #2 and https://github.com/microbiomedata/pilot/issues/16

We want to use unambiguous prefixed identifiers for entities in GOLD

Identifiers.org has an entry `gold.meta`:

https://registry.identifiers.org/registry/gold.meta

This uses legacy IDs. The example is https://identifiers.org/gold.meta:Gm00047

This redirects to a study https://gold.jgi.doe.gov/study?id=Gs0056621

Same for http://

[2020-03-11 21:20] dehays commented on #40
Hess spreadsheet that Jagadish is working on:

https://docs.google.com/spreadsheets/d/1LdOJkz1ActBMl0VGa4lXBuHhpLISi6OuLssg_PBKytw/edit#gid=1332866498

[2020-03-12 17:23] jagadishcs commented on #36
@wdduncan
@cmungall

Please note that the link given above for Water package is pointing to Sediment package.

For water package, please refer this one:
https://docs.google.com/spreadsheets/d/1xbSmHbzZWTUCXY4SCe3zZ6_YFxmuW4ht5s5_3jdgyyQ/edit#gid=994826157

[2020-03-12 17:40] jagadishcs opened #57 "Mapping MIxS (v5) and GOLD water biosample fields using the package specific spreadsheet"
@cmungall
@wdduncan

I will be mapping water package MIxS (v5) terms with GOLD biosample fields using the package specific spreadsheet that was shared by Bill.

https://docs.google.com/spreadsheets/d/1xbSmHbzZWTUCXY4SCe3zZ6_YFxmuW4ht5s5_3jdgyyQ/edit#gid=994826157

[2020-03-13 01:22] wdduncan commented on #36
Sorry about the typo.
All the packages are in this folder:
https://drive.google.com/drive/u/1/folders/13DVA0GGoypGIwzCTdKWS4eNh3Y8tjX3y

[2020-03-13 01:24] wdduncan commented on #57
Thanks. The MIxS water package is in this folder:

https://drive.google.com/drive/u/1/folders/13DVA0GGoypGIwzCTdKWS4eNh3Y8tjX3y

If you can't find a v5 term, you can look in the v4 spreadsheet too.

[2020-03-13 03:02] jagadishcs commented on #57
@wdduncan
@cmungall

I have completed the mapping of water package and placed it in the shared folder 'GOLD Database Mappings'.
Bill, would you like to verify/validate before start using and closing the ticket.
Please let me know if you have any suggestion or question.

https://docs.google.com/spreadsheets/d/1cfrkPF8wuyfUJ6L_byaaQ-Mly9ePBxCt6y1UqYeBBr4/edit#gid=1365761771

Thanks

[2020-03-13 21:18] jagadishcs commented on #36
@cmungall
@wdduncan

Please note that I revisited the soil biosample mapping using the latest reference file (MIxSsoil_20180621) you shared.

You can access the revised the file from here:
https://docs.google.com/spreadsheets/d/1mFOlEzDCaMn2AwBcJiJMpmj6QXDmb3jUs-o3-2SesaI/edit#gid=891466449

Thank you Chris and Bill.
Jagadish

[2020-03-18 01:25] TBKReddy commented on #56
GOLD site registered @https://registry.identifiers.org/registry/gold that let anyone connect using any of the 5 GOLD id types and straight go to that page.

[2020-03-18 01:35] cmungall commented on #56
This is great, thanks so much!

[2020-03-18 01:35] #56 closed

[2020-03-18 21:38] wdduncan opened #58 "Get list of GOLD paths used for FICUS"
Hi @jagadishcs
For FICUS projects, can you get list of the GOLD paths that are used? This will help us focus on which paths need to be the MIxS/ENVO triad of biome-material-feature.

Add @cmungall to the conversation.

[2020-03-19 20:37] kaiiam commented on #35
I sent you the GOLD paths mapping to MIxS style ENVO triads. It should work for your first pass. If I can get some funding to work on NMDC I can help this effort in the future.

[2020-03-19 21:24] StantonMartin opened #59 "ENVO/GCMD mapping"
[NMDC_GCMD Mapping.xlsx](https://github.com/microbiomedata/nmdc-metadata/files/4356985/NMDC_GCMD.Mapping.xlsx)

[sciencekeywords.csv.txt](https://github.com/microbiomedata/nmdc-metadata/files/4356987/sciencekeywords.csv.txt)
The EnvO and GCMD do not have a great deal of overlap even though it seems like it should. The GCMD terms were either very general or too specific. For instance, there were se

[2020-03-20 00:59] wdduncan opened #60 "duplicate GOLD path values"
In the most recent download of the GOLD path ids:
https://gold.jgi.doe.gov/downloads

There is a row in which the GOLD values are duplicated.

4035 | Environmental | Aquatic | Marine | Neritic zone | Sediment |  
-- | -- | -- | -- | -- | -- | --
4048 | Environmental | Aquatic | Marine | Neritic zone | Sediment |  

[2020-03-21 15:15] wdduncan commented on #35
I integrated what you sent with other GOLD path info. see:

https://docs.google.com/spreadsheets/d/1Tfbj0QCckk_S6ldyVJZcTdJKZHd1D9Y4whWz2CjeIcI/edit#gid=1310900750

[2020-03-21 15:42] wdduncan commented on #59
The files have been uploaded to the Metadata files directory on the google drive:

**NMDC_GCMD Mapping:**
https://docs.google.com/spreadsheets/d/10kQDZbaGIZL27ZMvlAmwuLaGmgekti6sind8t0zcGE8/edit#gid=1656108356

**sciencekeywords:**
https://docs.google.com/spreadsheets/d/1BGbOWId327pLW71BA4N9zMriluTyEvcteHL9DLxZ8FI/edit#gid=1618241051

[2020-03-21 15:48] wdduncan opened #61 "Review GOLD to MIxS/ENVO triad"
The GOLD paths and some partial mappings have been uploaded to:

https://docs.google.com/spreadsheets/d/1Tfbj0QCckk_S6ldyVJZcTdJKZHd1D9Y4whWz2CjeIcI/edit#gid=1310900750

The mappings need to be reviewed. Reviewers should fill in their initials and date when completed. Please fill in the notes column if you disagree with a mapping or find other problems.

[2020-03-22 20:57] kaiiam commented on #61
Looks good @wdduncan thanks for adding the provenance info.

[2020-03-23 21:22] cmungall opened #62 "test issue"
this a description of my issue.

Test linking to https://github.com/GenomicsStandardsConsortium/mixs/issues/42

[2020-03-23 21:22] cmungall commented on #62
test comment

[2020-03-23 21:22] #62 closed

[2020-03-23 21:43] TBKReddy commented on #60
Hi Bill,

Thanks for checking with us.

No these two paths are not referring to oil-contaminated sediment. One is specific for oil-contaminated sediment and the other is for anything oil-contatminated.

The following links on GOLD website showing what are the different samples using these paths.

https://gold.jgi.doe.gov/biosamples?page=1&asc=Biosample.Specific+Ecosystem&Biosample.Ecosystem+Path+I

[2020-03-24 03:55] jagadishcs commented on #58
Hi @wdduncan and @cmungall
You can please access the list of ecosystem paths by biosample for FICUS studies from here:
https://docs.google.com/spreadsheets/d/1AMMsDYPjngNAe0CaZkY8xL7Yf751r5iO4xPSj69HX1A/edit#gid=1478189118

[2020-03-24 14:45] wdduncan commented on #60
This ticket is referring to neritic zone sediment. I think you may have confused this with another email I sent about oil-contaminated sediment.

[2020-03-24 14:54] wdduncan commented on #60
@TBKReddy
Here are the oil-contaminated paths I think you are referring to:

4011 | Environmental | Aquatic | Marine | Oceanic | Oil-contaminated
-- | -- | -- | -- | -- | --
4007 | Environmental | Aquatic | Marine | Oceanic | Oil-contaminated sediment

As you can see, these are different than the ones I posted the issue about.

[2020-03-24 15:19] wdduncan commented on #58
Thanks @jagadishcs!
I did a check for the unique paths. There is a total of 15 unique path ids for use to focus on:

ECOSYSTEM_PATH_ID_Biosamples
--
4564
4287
4203
4023
4212
4533
4205
4012
4024
3937
4003
4245
4234
4206
4318

[2020-03-24 15:19] #58 closed

[2020-03-24 15:27] jagadishcs commented on #60
The path Environmental::Aquatic::Marine::Neritic zone::Sediment is now assigned only to ID 4048.

[2020-03-24 15:27] #60 closed

[2020-03-24 15:43] wdduncan commented on #58
I added a tab to spreadsheet with the unique paths.

[2020-03-24 16:59] wdduncan commented on #61
I have added a column for just the FICUS studies based on the work done by @jagadishcs in issue #58

[2020-03-24 20:10] StantonMartin opened #63 "FAIR Data metrics"
Need metrics to measure progress in FAIRification of NMDC data. Ideally these would map to FAIR metrics produced by International GO-FAIR consortium.  Note NMDC Microbiome implementation network is collaborating with the new Virus Outbreak Detection Network (VODAN).  to create FAIR metrics for viral outbreak data.  Some of this may be reused for Microbiome data.
https://www.go-fair.org/implementat

[2020-03-26 16:42] wdduncan commented on #40
Here is spreadsheet that lists the MIxS package that is relevant to each FICUS study:

https://docs.google.com/spreadsheets/d/1jECObgTnMADlh3a8RLW6bfQmxxgKnHUMBeodBW04Gw4/edit#gid=1372256758

[2020-04-01 20:09] wdduncan commented on #61
see #35

[2020-04-01 20:09] #61 closed

[2020-04-01 20:11] #6 closed

[2020-04-01 21:02] cmungall commented on #59
@StantonMartin - can you make sure Hannah has a github username and is added to the nmdc project?

there are some things that are a bit dubious.

E.g. GCMD:Icebergs is mapped to two sweet-envo pairs:

iceberg | iceberg | Icebergs | 4d95ccc8-3ef9-40df-85e7-db36cb815499 |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |   |  
-- | -- | -- | -- | -- | -- | -- | -- | --

[2020-04-01 21:31] elishawc commented on #59
We might need to accelerate the purchase of paid plan. I think we are maxed
out and I kicked off everyone that was low priority.

On Wed, Apr 1, 2020 at 2:02 PM Chris Mungall <notifications@github.com>
wrote:

--
Elisha M Wood-Charlson, PhD (she/her)
KBase <https://kbase.us/> User Engagement Lead
NMDC <http://microbiomedata.org/> Leadership Team; @microbiomedata
<https://twitter.com/MicrobiomeData

[2020-04-02 16:38] elishawc commented on #59
Hannah has been added! We had one seat left :)

On Wed, Apr 1, 2020 at 2:30 PM Elisha Wood-Charlson <emwood-charlson@lbl.gov>
wrote:

--
Elisha M Wood-Charlson, PhD (she/her)
KBase <https://kbase.us/> User Engagement Lead
NMDC <http://microbiomedata.org/> Leadership Team; @microbiomedata
<https://twitter.com/MicrobiomeData>
Lawrence Berkeley National Laboratory
LinkedIn <http://www.linkedin.com/in

[2020-04-02 17:21] wdduncan commented on #59
Great! Thanks :)

[2020-04-02 17:46] Blancohl commented on #59
@StantonMartin Well, the mouth example was a mistake, sorry. Otherwise, I can review the work I did for this mapping. But perhaps this needs a more in-depth conversation about the expectations for this mapping and a set of eyes with a scientific background. There is only one 'iceberg' in the GCMD keywords.

[2020-04-02 19:19] cmungall opened #64 "Do additional pass on README and documentation prior to SAB (before April 15)"
We want to include a link to the repo/readme in advance of the SAB, we should do another pass on the README

[2020-04-02 19:21] cmungall commented on #64
And make sure this is aligned with:

https://microbiomedata.org/infrastructure/
https://microbiomedata.org/introduction-to-metadata-and-ontologies/

[2020-04-03 12:48] wdduncan commented on #59
@Blancohl
you've been tagged :)

[2020-04-06 21:34] StantonMartin opened #65 "FAIR Digital Objects (FDO) relatioship to NMDC"
Opening this thread for comment and discussion on how we can implement / utilize FDO's with NMDC.  See:
https://github.com/GEDE-RDA-Europe/GEDE/tree/master/FAIR%20Digital%20Objects

For the most current information regarding FDO's.

[2020-04-07 18:57] dehays commented on #21
The name of this issue is misleading.  (It isn't validation being described here - validation sounds like the issue duplicates #55 but this is about mapping a location name to lat/long.

- If this is done - it needs to be clearly identified because it impacts other automatic metadata curation that is based on lat/long.  The accuracy of the lat/long derived from location name is likely insufficient

[2020-04-08 19:33] jagadishcs commented on #36
@cmungall
@wdduncan

There are two descriptors in MIxS packages (17), 
specific_host
and
host_spec_range,
referring to the NCBI taxid.

Since, 'specific_host' value syntax is 'text' and 'taxid', I have taken it for Host-name while mapping and preparing metadata files for PIs. Please let me know if this is OK.

You can please check them to update the definition in the MIxS, if needed.

Best 

[2020-04-15 00:33] usethedata commented on #59
@cmungall Sorry for the slow response.  Hannah and I discussed this.  Is this useful:  https://gcmdservices.gsfc.nasa.gov/kms/concepts/concept_scheme/sciencekeywords/?format=rdf. That provides an export of the GCMD Science keywords in RDF format.  There is a listing of the keyword sets and export formats here:  https://gcmdservices.gsfc.nasa.gov/static/kms/. If this isn't what you're after, maybe

[2020-04-15 00:46] jagadishcs commented on #36
@cmungall
@wdduncan

I have prepared and shared a document describing MIxS packages; you can please access it from here:
https://docs.google.com/document/d/141BWGbWdTuCQ_QoqdsO_BvHW37wJuLU9xZnvnHTEtNU/edit

Best

[2020-04-15 16:03] wdduncan commented on #36
@jagadishcs
I'm not sure what you mean by 'Host-name'. Do you mean the scientific name?

[2020-04-15 16:08] wdduncan commented on #36
I placed the out my script looking for terms shared across MIxS packages in the google drive. The files are:

1. mixs-package-term: this lists each term and the packages that contain the term
https://drive.google.com/drive/u/1/folders/1frzGlz8EB8inpVokNTSwD6Ia94eVUlsZ

2. multi-package-mixs-terms-only: same as #1, but only lists terms that appear in multiple packages
https://docs.google.com/spread

[2020-04-15 18:23] dehays commented on #30
Closing this after last weeks discussion -

Group issues by Milestones with expected completion dates - Shweta will use these to update A1 Smartsheet

Enriched Curation work in issues for this repo

EMSL work (sample mapping, experiment metadata) can be managed directly in Smartsheet

Emiley / Jagadish FICUS curation can be managed directly in Smartsheet

Jagadish work with Bill on GOLD - MixS map

[2020-04-15 18:23] #30 closed

[2020-04-15 18:25] dehays commented on #4
https://whondrs.pnnl.gov/studies/water.stm

Work is by James Stegen, one of our FICUS PI's at PNNL

[2020-04-15 18:30] elishawc commented on #4
KBase is having a mtg w/ WHONDRs et al on Friday to discuss data for a summer course. I have been working w/ Amy Goldman (PNNL) and Joan (ESS-DIVE) re: metadata. They should have it registered in ESS-DIVE in less that 2 weeks.

Would be a good project to beta-test as Kelly is going to have a LOT of metaG and metaM data from a CSP later this year.

[2020-04-15 18:30] elishawc commented on #4
sorry - wrong button...

[2020-04-15 20:16] wdduncan commented on #59
@cmungall

[code]
The reason for this is that ENVO is already included in SWEET. We don't know who did these mappings, though. Perhaps we can track this down.

But, we still can work the SWEET/EVNO mappings to GCMD.

[2020-04-18 04:40] jagadishcs commented on #36
@cmungall
@wdduncan

I have completed the mapping of 17 MIxS environmental packages with GOLD fields that can be accessed from here:
https://drive.google.com/drive/u/0/folders/18941r1aZelhNFoaNakPvMj6K9JZgMcWo

Best

[2020-04-20 19:53] jagadishcs commented on #36
@cmungall
@wdduncan

Mapping of MIxS environmental packages with GOLD fields can be accessed from here:

[MIxSair_20180621_GOLD_Mapping_04132020.xlsx](https://github.com/microbiomedata/nmdc-metadata/files/4505780/MIxSair_20180621_GOLD_Mapping_04132020.xlsx)
[MIxSbuiltenv_20180621_GOLD_Mapping_04172020.xlsx](https://github.com/microbiomedata/nmdc-metadata/files/4505781/MIxSbuiltenv_20180621_GOLD_Ma

[2020-04-21 06:01] cmungall commented on #59
We are working on the SSSOM standard for ontology mappings

I propose we use this for ENVO to GCMD among others

https://docs.google.com/document/d/1CHM6UFAqtp0MxE2Nz-R2R9NTPqsTzetkn8gZHh7zurw/edit#heading=h.pvloahwbh9fq

[2020-04-22 20:56] cmungall opened #66 "Map individual ORNL/DAAC data layer vocabularies"
on aim1 call yesterday honing in on 1.2 deliverables we identified the individual data layer vocabs for Identify as higher priority than GCMD

For each vocab there are 3 phases:

 1. [ ] Extract individual vocabularies (ORNL)
 2. [ ] First pass automated mapping to ENVO and other vocabs (LBNL)
 3. [ ] Validate mappings (ORNL)

For the extraction, any format is fine. I suggest either skos/rdf, or s

[2020-04-22 21:00] cmungall opened #67 "Deploy Identify REST service"
We need to deploy an Identify REST service.

Input: lat, long, [optional] time; optional precision? + layer IDs
Output: json payload for each requested layer

See also

 - #66 - these mappings will be composed with REST payloads OR the REST service will use these to return ENVO for qualitative payloads
 - #55
 - #21 - once we have the service

Note: this ticket to be assigned to @usethedata or Yax

[2020-04-22 21:13] cmungall commented on #67
We can discuss here requirements and preferences for the service

My own preferences:

 - should be described using openapi3/swagger (alternative: HATEOS)
 - all IDs in the system should follow NMDC identifier policy (see #2)
 - payloads should be JSON (ideally json-ld)

I'm imagining two main endpoints/routes:

 * `/layers/`
    - input: none
    - output: returns list of layers. ideally each is

[2020-04-22 21:54] StantonMartin commented on #66
Where do we see the GH invites? I am not seeing any under my profile?

[2020-04-23 15:52] wdduncan commented on #36
@jagadishcs can you convert these to google sheets? That way people can edit them in a web browser.

[2020-04-23 18:24] jbeezley commented on #21
We have worked on other projects were this kind of capability was needed.  Outside of commercial services like Google's geocoding API, the best option we found is Nominatim, which seems to be the service integrated in the Leaflet snippet included.

The thing to keep in mind about these services is that there won't be 100% accuracy in the responses to plain text queries.  The entity you are looking

[2020-04-29 20:23] wdduncan opened #69 "Gather Identify layer information"
Stan will gather information about vocabularies and layers to share with the team & upload to the Github site.
 - 17 layers, some are repetitive.
- This is instrument specific. This will be in the doc shared by Stan.
- Not all layers will have all resolutions.

Further tasks include:
- Determining wich MIxS fields can be mapped to.

[2020-04-29 20:24] #69 closed

[2020-04-29 20:36] wdduncan commented on #36
Does that have to be on both the package level and on MIxS as a whole?
Will NMDC min set be different that MIxS mandatory fields?

Use MIxS mandatory fields as a seed. Then edit from there.

[2020-05-01 01:47] jagadishcs commented on #36
@cmungall
@wdduncan
@dehays

You can access the MIxS mandatory descriptors from here that can be used to decide minimal metadata fields.
https://docs.google.com/spreadsheets/d/1trmfp9UMsctXWio6H-17GZXSw_Qi10k777I9trzW3ds/edit#gid=221947830

[2020-05-04 15:21] cmungall commented on #66
@StantonMartin the invite was for Bruce and Hannah, it looks like they have accepted the invite.

Can we make a start on this task? Is there anything unclear here. You can ping me on the aim1 slack if there are any questions.

[2020-05-04 19:44] dehays commented on #59
The effort to support Identify tool use replaces this GCMD-EnvO mapping with the layer specific mapping work in #66

There is related work for GCMD-EnvO active in the EnvironmentOntology/obo-to-gcmd-mapping repo -- this relates to ESS-DIVE / NMDC coordination for common metadata

[2020-05-04 19:47] dehays commented on #57
@wdduncan @jagadishcs  Is this complete?

[2020-05-04 20:12] dehays commented on #37
@wdduncan  As I understand this, it depends upon the GOLD-MixS work and the outcome is that the biosample fields and characteristics include the display terms from MixS

[2020-05-04 20:16] dehays commented on #35
@wdduncan  What is the scope of this issue?  Does this include all GOLD biosample environment paths or the subset of paths present in samples for the FICUS studies?

[2020-05-04 20:16] cmungall commented on #69
Closed in favor of #66

[2020-05-04 20:25] dehays commented on #28
Relates to sample representation and coordinating common sample metadata with ESS-DIVE and KBase.

[2020-05-04 20:32] wdduncan commented on #35
@dehays Ultimately, it is all GOLD paths. Currently, we are focusing on the FICUS studies.

[2020-05-04 20:40] wdduncan commented on #37
@dehays Yes. For those fields that have been mapped. For those that have not been mapped, then, no (of course).

[2020-05-04 21:01] StantonMartin opened #70 "List of MixS packages that will be used for NMDC compliance purposes"
Do we have a list of the MixS packages that will be used for NMDC articulated somewhere on this site?

I note that the MixS_MinimalFields file that Jagadish was working on mentions 17 packages, but I do not know which 17 packages they are....

[2020-05-04 21:23] dehays commented on #59
Is there any further work to be done here?  The OBO-GCMD mapping work is at EnvironmentOntology/obo-to-gcmd-mapping and the work here has been replaced by #66.

[2020-05-04 21:33] StantonMartin commented on #59
Yes, this is now duplicated elsewhere.  Closing

[2020-05-04 21:33] #59 closed

[2020-05-04 23:13] wdduncan opened #71 "modify schema to use characteristic directly instead of via an annotation"
Instead of accessing characteristics via an annotation, have instances use the has_characteristic relation to access the characteristics directly. For example, suppose a sample was collected at a certain depth. The current schema would represent this as:
[code]
Simply use the has_characteristic relation directly like so:
[code]
The reasons for this changer are:
* It will make the json-ld context e

[2020-05-04 23:25] jagadishcs commented on #57
@dehays
@wdduncan

Yes, it has been completed.

[2020-05-04 23:25] #57 closed

[2020-05-05 19:23] cmungall commented on #70
We will potentially use all at some point, but the ones we use will be driven by the datasets we bring in. For FICUS we only need a handful (e.g. soil). Human-associated is not required until we bring in human data in the future.

[2020-05-06 21:27] cmungall commented on #36
We should have a csv in the repo consisting of the 6 mixs minimal fields and link from README

[2020-05-13 20:57] wdduncan opened #72 "Create json template Bio Scales required fields using CEDAR"
Stan is going to give this a whirl ...

[2020-05-28 15:49] wdduncan commented on #71
closing this ... overlaps with @cmungall work.

[2020-05-28 15:49] #71 closed

[2020-05-28 16:00] wdduncan opened #73 "Modify json to directly use fields as keys"
Instead of modeling data like this:
[code]
model data like:
[code]

cc @cmungall @deepakunni3

[2020-06-01 21:56] StantonMartin commented on #66
[IGBP.json.TXT](https://github.com/microbiomedata/nmdc-metadata/files/4713641/IGBP.json.TXT)

Uploading IGBP JSON

[2020-06-01 21:57] StantonMartin commented on #66
[UMD.json.TXT](https://github.com/microbiomedata/nmdc-metadata/files/4713648/UMD.json.TXT)
 UMD Json

[2020-06-01 21:59] StantonMartin commented on #66
Note IGBP is a legacy standard:
http://www.igbp.net/

[2020-06-02 00:47] cmungall commented on #66
Thanks! So I assume despite being a legacy standard it is still used by some of the data layers we will access via the API, so we'll want to map them.

Note the header of the UMD file says it is "IGBP_V6", not UMD. Is this expected?

I assume that when the API is functional there will be an unambiguous way to map to one of these tables?

The two are largely identical except code 15 has a different

[2020-06-02 02:04] StantonMartin commented on #66
The discrepancy is due to different versions of the standard, the current identify tool was using version 005 which I cannot find documentation for. I found some old documentation for  5.1 but even it has a slight discrepancy with the legend that is surfaced through the current identify tool.   My opinion is that we should adopt the latest version (v6) as in the user guide above as the standard, a

[2020-06-02 02:58] StantonMartin commented on #66
List of all potential data products from the MODIS satellite that the new identify tool could query is here:

https://modis.ornl.gov/rst/api/v1/products

[2020-06-05 22:54] wdduncan opened #78 "requried attributes"
How strict do we want the required attributes to be?
For example, I am testing the translation of biosample data. The schema requires each biosample have a lat_lon:
[code]
The biosample table doesn't have a `lat_lon` field. Rather, it has `latitude` and `longitude` fields. I can of course combine those fields. In the mean time, I am simple adding a `lat _lon` to my data, like so:
``
biosample['lat

[2020-06-05 23:01] wdduncan commented on #78
Update. Just tried change required field in `nmdc.yaml` for `biosample` to false. Still getting an error telling me it is required. Hmmm....

[2020-06-08 18:13] wdduncan commented on #78
Closing this issue. The problem was I forgot to rebuild the nmdc.py after changing the yaml.

**DOH!**

[2020-06-08 18:13] #78 closed

[2020-06-08 18:18] wdduncan commented on #73
Closing this ticket, since we are doing this now. E.g.:
[code]

[2020-06-08 18:18] #73 closed

[2020-06-19 18:25] Blancohl commented on #66
[Identify_layers.zip](https://github.com/microbiomedata/nmdc-metadata/files/4806177/Identify_layers.zip)
The table is organized by layer, code, and definition. All of which were pulled directly from the identify tool. I assumed that the only information pulled by the tool would be from the datasets that are already highlighted if you go through the Identify Tool to SDAT.

I feel it's important to

[2020-06-19 18:37] cmungall commented on #66
Perfect, thanks! We'll do a first-pass automated alignment then let's talk
about curating the mappings (should not be a large task)

On Fri, Jun 19, 2020 at 11:25 AM Blancohl <notifications@github.com> wrote:

[2020-06-19 18:39] StantonMartin commented on #66
Sounds good.

From: Chris Mungall <notifications@github.com>
Sent: Friday, June 19, 2020 2:37 PM
To: microbiomedata/nmdc-metadata <nmdc-metadata@noreply.github.com>
Cc: Martin, Stanton <martins@ornl.gov>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [microbiomedata/nmdc-metadata] Map individual ORNL/DAAC data layer vocabularies (#66)

Perfect, thanks! We'll do a first-pass automate

[2020-06-19 18:39] cmungall commented on #66
Can you shine any light on this, is there something further that
differentiates these:

Bailey Ecoregion Province,1,ice,

Bailey Ecoregion Province,2,ice,

On Fri, Jun 19, 2020 at 11:36 AM Chris Mungall <cjmungall@lbl.gov> wrote:

[2020-06-22 12:49] Blancohl commented on #66
@cmungall I'm sorry, but no. There was no documentation I could easily pull about how the legends were put together or how the classifications were designated. My only thought is that most of the legends were numerical values associated with a color gradient; if the legend is supposed to be read primarily by color, then I think it could be that the two colors were both ice, but because they weren'

[2020-06-22 20:00] cmungall opened #80 "Define pipeline product metadata"
Shane's draft:

https://docs.google.com/document/d/12a8c6ZDp4fyiRjYYBtJQjkyn7rZyAe_6y7EX7LJYuiM/edit#heading=h.as9kdn9iw81k

Chienchi's example:
https://jsonblob.com/2137bcc9-c165-11ea-bf47-77ac2761baa8

[2020-06-22 20:01] cmungall opened #81 "Define controlled vocabulary for data object types"
E.g. fastq, gff, ko summary table, ...

[2020-06-24 21:14] wdduncan opened #82 "add omics processing set as a slot to database"

[2020-06-25 16:17] wdduncan commented on #82
Done. See PR https://github.com/microbiomedata/nmdc-metadata/pull/83

[2020-06-25 16:17] #82 closed

[2020-06-25 18:00] wdduncan opened #84 "Travis build failing"
Travis build is failing for some Pipenv reason. Here is some of the log:
[code]
I'm going try out some various makefile configurations.

[2020-06-25 18:53] #72 closed

[2020-06-25 18:57] dehays commented on #72
Requirements for NMDC data portal as described in 1.5 of the work plan will come out of further NMDC data portal design with input from BioScales.  Work distribution will be determined by scoping of work with CEDAR.  (This issue may be reopened, but at this point in time it is premature to do work here without specifics defined for the metadata submission portal.)

[2020-06-25 21:32] wdduncan commented on #84
fixed with PR https://github.com/microbiomedata/nmdc-metadata/pull/85

[2020-06-25 21:32] #84 closed

[2020-06-25 21:35] wdduncan opened #86 "validate ETL output"
Use json schema to validate ETL output

[2020-06-26 21:29] wdduncan opened #89 "add properties to gold study class"
Gold study objects fail validation:
[code]
Need to add to nmdc schema.

cc @cmungall

[2020-06-26 21:30] wdduncan opened #90 "add properties to gold biosample"
Gold biosample json fails validation:
[code]
Add properties to nmdc schema

cc @cmungall

[2020-06-26 21:33] wdduncan opened #91 "make value of env broad/local/medium a complex value"
JSON failing for env_broad, env_local, env_medium with errors:
[code]
Modify ETL to output a ControlledTerm object, for may leave label blank.

cc @cmungall

[2020-06-26 21:34] wdduncan opened #92 "Change file_size_bytes to range integer"
Modify data objects attribute 'file_size_bytes' to be a simple integer.

cc @cmungall

[2020-07-01 22:29] cmungall opened #95 "gold to mixs mapping table contains syntax errors"
[code]

the value of c4 should be a single atomic string. Information such as certainty should be indicated in a separate field. If a mapping is not one to one consider using a scheme like skos/sssom to explicitly distinguish exact/1:1 from imprecise

[2020-07-02 17:08] wdduncan commented on #92
done see PR https://github.com/microbiomedata/nmdc-metadata/pull/96

[2020-07-02 17:08] #92 closed

[2020-07-02 21:31] wdduncan commented on #91
done see PR https://github.com/microbiomedata/nmdc-metadata/pull/97

[2020-07-02 21:31] #91 closed

[2020-07-06 22:22] cmungall opened #101 "biosamples are not connected directly to projects in JSON"
our schema has:

[code]

so an omics_processing object is linked to a study, but not a sample

Example instance data:

[code]

which corresponds to https://gold.jgi.doe.gov/project?id=Gp0108335 -- note this has a link
https://gold.jgi.doe.gov/project?id=Gp0108335

[2020-07-06 22:52] cmungall commented on #101
as my mistake, we have a part-of from the sample to the project

[2020-07-06 22:52] #101 closed

[2020-07-07 00:04] #95 closed

[2020-07-07 01:08] cmungall commented on #80
In terms of general schema structure, we are thinking of following PROV:

![img](https://www.w3.org/TR/prov-o/diagrams/starting-points.svg)

We have the prov base classes here: https://github.com/microbiomedata/nmdc-metadata/blob/master/schema/prov.yaml

Straw man:

![image](https://user-images.githubusercontent.com/50745/86680601-964e8180-bfb3-11ea-8278-ef59366aea96.png)

TBD: which direction to

[2020-07-07 01:14] cmungall commented on #80
See https://microbiomedata.github.io/nmdc-metadata/docs/WorkflowExecutionActivity

[2020-07-08 19:53] cmungall commented on #80
Parking some slides of relevance from @stain here, will provide context later: http://slides.com/soilandreyes/2018-01-15-interoperable-provenance

[2020-07-08 22:11] chienchi commented on #80
draft json file:
https://gist.github.com/chienchi/8bf29a5501b479d332bbd44cd240821f

[2020-07-08 23:31] wdduncan opened #103 "change biosample part of process to has input"

[2020-07-09 00:55] wdduncan commented on #80
Do want to have an inverse relation to has_input. The biosample data has associated project ids. This makes it easier to model `biosample is_input_to sequencing project` in one pass over the data.

[2020-07-09 23:46] wdduncan commented on #103
Fixed with PR https://github.com/microbiomedata/nmdc-metadata/pull/104/

[2020-07-09 23:46] #103 closed

[2020-07-10 00:02] wdduncan opened #105 "remove JGI faa and fna files from data object outputs"
Based on conversation with @dehays:
In the schema, we want the data objects that represent the assembly files (i.e., faa and fna files) to come from AIM 2's pipeline (i.e., NMDC).
Currently, the files come from JGI. So, need to remove the JGI faa and fna data objects from data. We only want to keep the JGI fastq files.

cc @cmungall

[2020-07-10 00:12] cmungall commented on #105
This makes sense. It was useful having them there as exemplars/placeholders, but time to get rid of them.

[2020-07-10 02:49] wdduncan commented on #105
Done. See PR https://github.com/microbiomedata/nmdc-metadata/pull/106

[2020-07-10 02:49] #105 closed

[2020-07-10 20:53] wdduncan opened #107 "add biosample inputs to EMSL processes"
Use Sam's mappings in https://docs.google.com/spreadsheets/d/1Vx1X7APaqSVHoRJRhZEMf1WnkCQ85tkQ2PZzUR_uXj4/edit#gid=0 to specify the biosamples that were input into the EMSL processes.

[2020-07-11 15:07] #107 closed

[2020-07-13 04:34] cmungall commented on #90
How does location differ from geographic_location (which maps to mixs:geo_loc_name)? Same Q sample_collection_site. for We should have blank rows in gold-to-mixs.sssom.tsv for these

I suggest simply going ahead and adding these to the schema. However, add a `status: draft` to each of these until we have established their meaning.

[2020-07-13 04:36] cmungall opened #110 "Switch to sssom format file as primary"
This PR #100 introduced the sssom file

We should get rid of the other ones, and use this in the ETL code

We should also add blank lines for unmapped gold fields

[2020-07-13 04:42] cmungall opened #111 "Align schema with OBI"
We should add mappings between relevant schema classes and OBI:
https://www.ebi.ac.uk/ols/ontologies/obi/

 - biosample -> obi:material sample
 - omics_processing
      - not clear how best to map this
      - OBI has the concept of assay, e.g. [sequencing assay](https://www.ebi.ac.uk/ols/ontologies/obi/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0600047&viewMode=All&siblings=false)

[2020-07-13 12:45] wdduncan commented on #111
Let's look at the definitions.
- **omics processing**: A process that takes one or more biosamples as inputs and generates one or as outputs. Examples of outputs include samples cultivated from another sample or data objects created by instruments runs.
- **assay**:  A planned process with the objective to produce information about the material entity that is the evaluant, by physically examining

[2020-07-13 20:06] wdduncan commented on #90
Re:

I asked Reddy about the difference between the location and geographic location fields. Here is the email:

We follow USA: Ohio convention, other variations are something we may not yet have touched or reviewed.

We also have a country filed. This essentially same as INSDC country list including oceans. Our geographic location is a free text field following the above format like "USA: Ohio"

[2020-07-13 22:43] wdduncan opened #112 "Workflow activity vs protocol"
I posted this message question in Slack, but I'm reposting here.
By 'workflow' is @scanon referring to the protocol sense of workflow: the predefined steps that the workflow activity should follow, or the workflow activity/process itself?

cc @dehays @cmungall

[2020-07-13 22:52] wdduncan opened #113 "integrating PROV into schema"
How are planning to integrate PROV with the NMDC schema?
Currently, we have a place to put PROV activities in the `activity set` slot. But, other questions follow:
1. Should biosample processing (and omics processing) be a subtype of PROV activity?
2. Do we want PROV `wasGeneratedBy` to act as inverse relation to `has_output`?
3. Do you want to relate NMDC data processings (workflows?) to GOLD pro

[2020-07-13 22:55] wdduncan opened #114 "Priorities before Friday July, 17"
@dehays @cmungall @scanon @hubin-keio

If I recall, Kitware needs the dataset settled by Friday 7/17. Can we prioritize what workflows we might be able to get to them? E.g.:
- readQC
- nucleotide assembly
- genome annotation
- none of the above?

[2020-07-14 16:33] cmungall commented on #113
PROV is a nice structure but we should not be too hamstrung by it at this stage. I am confident if we come up with the right structure it will align well to PROV.

[2020-07-14 16:57] dehays commented on #114
The work thus far from @scanon and @chienchi has been the following three. I suggest addressing them in this order.

1) readQC (in one example it is marked as "SampleQC" but that is a misnomer.  This takes in raw reads and produces filtered reads and some statistics.)

2) metagenome assembly

3) metagenome annotation

[2020-07-14 18:46] wdduncan commented on #80
Here is an example for metagenome annotation activity:
[code]

[2020-07-14 19:09] wdduncan commented on #80
Does the git_url also imply that the workflow version is 0.1.0? If so, the workflow version is redundant info. Also, need to decide on "metadata" element.

[2020-07-14 19:45] chienchi commented on #80
Thanks for the example.  Follow this example, I did the read QC.
[code]

[2020-07-14 19:57] wdduncan commented on #80
@chienchi Thanks. I would change as follows:
[code]
We still need to define a URI scheme for the IDs.

[2020-07-14 20:01] jeffbaumes commented on #80
This concrete example is looking good, and we've confirmed that the `was_informed_by` property links into an omics processing identifier we have in an earlier data dump so this would potentially be able to be linked into the DB and UI. We do not seem to have the data objects referenced in the `has_input` and `has_output` fields, but I'm less concerned about getting all of those (we could stub out

[2020-07-14 20:15] chienchi commented on #80
Got it. For the output data object, currently Shane and I used md5 for the object id. Here is the corresponding output from the previous read analysis activity json file.
[code]

[2020-07-14 20:22] wdduncan opened #115 "add read analysis workflow statistics"
need stat slots for read analysis (QC) workflow statistics:

 - input read count
 - input read bases
 - output read count
  - output read  bases

[2020-07-14 20:27] dehays commented on #80
@jeffbaumes @chienchi  Shane and Chien-Chi will be producing new DataObject JSON objects for the outputs as Chien-Chi has shown above.  I think using the md5 as IDs on the new file objects is fine. Jeff - you don't have JSON for these new DataObjects yet.

There is an issue we need to address in linking to the existing raw fastq DataObjects.  I had thought those were also using md5 hash values as

[2020-07-14 20:58] #115 closed

[2020-07-15 16:16] chienchi commented on #80
For Annotation:
https://portal.nersc.gov/project/m3408/meta/data_objects.json
https://portal.nersc.gov/project/m3408/meta/mg_annotation_objects.json
For readQC:
https://portal.nersc.gov/project/m3408/meta/readQC_activity_data_objects.json
https://portal.nersc.gov/project/m3408/meta/readQC_activity.json
For Assembly:
https://portal.nersc.gov/project/m3408/meta/metagenomeAssembly_activity.json
https

[2020-07-15 18:04] wdduncan commented on #80
The format of the **data object** files seems fine:
- https://portal.nersc.gov/project/m3408/meta/data_objects.json
- https://portal.nersc.gov/project/m3408/meta/readQC_activity_data_objects.json
https://portal.nersc.gov/project/m3408/meta/metagenomeAssembly_data_objects.json

[2020-07-15 18:22] wdduncan commented on #80
@chienchi  are all the data objects "https://portal.nersc.gov/project/m3408/meta/data_objects.json" associated with a particular kind of workflow activity?

E.g., readQC_activity_data_objects.json is associated with a readQC activity and metagenomeAssembly_data_objects.json is associated with metagenome assembly activity.

[2020-07-15 19:09] chienchi commented on #80
Yes.  The data_objects.json should associated with annotation workflow.

[2020-07-15 19:09] wdduncan opened #117 "update workflow activity types match Aim 2 names & add stats"
- Change stub workflow activity classes in NMDC.yaml to match names used by Aim 2. E.g., change  annotation activity to metagenome annotation active.

- Update stat slots to match Aim 2 files.

[2020-07-15 19:45] wdduncan commented on #80
@chienchi Thanks!

[2020-07-15 21:31] #117 closed

[2020-07-16 02:35] anubhav0fnu commented on #80
@wdduncan , @cmungall , @dehays , @dehays , @jeffbaumes, @chienchi
Here is a sample JSON object for the meta-proteomics pipeline:
https://jsonblob.com/400362ef-c70c-11ea-bf3d-05dfba40675b
Please provide your suggestions.

[2020-07-16 09:05] dehays commented on #80
@anubhav0fnu
I looked at this: [https://jsonblob.com/400362ef-c70c-11ea-bf3d-05dfba40675b](url) and this: [https://github.com/microbiomedata/metaPro/blob/master/docs/index.rst](url)

and compared with metagenomeAssembly_activity.json and Bill’s comment with examples 5 comments above in this thread.

First, both the mmdc:OmicsProcessing object and the mmdc:DataObject that represents its file output

[2020-07-16 23:25] wdduncan commented on #80
I've added @scanon and @chienchi data:

annotation files:
metagenome_annotation_activities.json
metagenome_annotation_data_objects.json

assembly files:
metagenome_assembly_activities.json
metagenome_assembly_data_objects.json

readQC files:
readQC_activities.json
readQC_data_objects.json

Files are located in the [data/aim-2-workflows](https://github.com/microbiomedata/nmdc-metadata/tree/master/m

[2020-07-17 00:30] wdduncan opened #119 "add slots to workflow classes"

[2020-07-17 02:00] #119 closed

[2020-07-17 09:39] anubhav0fnu commented on #80
@wdduncan , @dehays
Files are here `/global/cfs/cdirs/m3408/www/meta/MetaProteomicAnalysis/  `
[code]

[2020-07-17 15:09] wdduncan commented on #80
Can you change the permissions for the files so that I can access them without having to log in.

E.g., make https://portal.nersc.gov/project/m3408/meta/MetaProteomicAnalysis/hessMetaProteomicAnalysis_activity.json public.

[2020-07-17 15:17] wdduncan opened #121 "add metaproteomics json"

[2020-07-17 15:28] wdduncan commented on #80
Where there any "stats" you wanted to add for the nmdc:MetaProteomicAnalysis files?:

https://portal.nersc.gov/project/m3408/meta/MetaProteomicAnalysis/hessMetaProteomicAnalysis_activity.json
https://portal.nersc.gov/project/m3408/meta/MetaProteomicAnalysis/stegenMetaProteomicAnalysis_activity.json

The data object files seem fine:
https://portal.nersc.gov/project/m3408/meta/MetaProteomicAnalysis/

[2020-07-17 15:30] jbeezley commented on #80
I realize you may not be finished yet, but I tried using these files and found a couple of issues.

There are missing data objects:
[code]
and a few duplicates in the activities:
[code]

[2020-07-17 15:44] dehays commented on #80
@jbeezley Thanks Jon - we will investigate why there are references to missing data objects before giving you JSON today. We are looking at the metaproteomicsAnalysis json now.

[2020-07-17 15:47] chienchi commented on #80
@jbeezley Thanks.  Those are missing data objects are from reads_qc. I will fix that and the duplicate reads_qc.

[2020-07-17 19:41] #121 closed

[2020-07-17 19:41] wdduncan commented on #80
Hess & Stegen metaprotemics data has been merged. See PR https://github.com/microbiomedata/nmdc-metadata/pull/122

[2020-07-17 19:42] wdduncan commented on #114
We're settled on this ... so closing.

[2020-07-17 19:42] #114 closed

[2020-07-20 21:45] wdduncan opened #123 "Test 1.5.3 biolinkml release"

[2020-07-21 01:10] wdduncan commented on #80
I think we are good for now. Closing this ticket.

[2020-07-21 01:10] #80 closed

[2020-07-22 21:48] wdduncan opened #125 "remove isolate genomes"
cc @dehays

[2020-07-22 21:51] wdduncan opened #126 "create new names for metaproteomic/metagenome files"
cc @anubhav0fnu @dehays

[2020-07-22 23:03] dehays commented on #125
This will involve the removal of 40 biosamples and 40 omics_processing objects.  If I give you a set of IDs can you you remove them.  Or how best to ensure that they stay removed with you your ETL starting with the GOLD DB exports for FICUS?

[2020-07-23 00:32] wdduncan commented on #125
Yes. I can remove the records from the GOLD biosample and project tables. The solution will be hacky ... Hopefully the next GOLD export excludes them :)

[2020-07-27 21:57] #125 closed

[2020-07-27 22:11] wdduncan commented on #123
We tested this. See PR https://github.com/microbiomedata/nmdc-metadata/pull/127

[2020-07-27 22:11] #123 closed

[2020-07-27 22:15] #126 closed

[2020-07-28 15:11] jbeezley opened #130 "Processing institution is missing from some omic_processing entities"
E.g.
[code]

[2020-07-28 20:06] #130 closed

[2020-08-05 20:15] wdduncan commented on #66
Long term goal is to use [SSSOM](https://github.com/OBOFoundry/SSSOM) to represent mappings.

[2020-08-05 20:28] cmungall commented on #66
We will start with Zobler soil layers. This is "Global Soil Type" in the csv

[2020-08-05 20:28] wdduncan commented on #67
Start with the soil ZOBLER layer.
Global soil type in the tsv file/layer.

@Blancohl  If possible add provence metadata about the layers. Who made it? When was it made?

[2020-08-05 20:30] wdduncan commented on #67
Need to set up workflow for adding terms to ENVO.

[2020-08-05 20:35] wdduncan commented on #35
Update: Jagadish has completed mapping biosample GOLD paths to MIxS triads for the FICUS studies.

[2020-08-05 20:37] #35 closed

[2020-08-05 20:41] wdduncan opened #132 "Develop mapping function for mixs triads"
Develop function/algorithm to map GOLD paths to mixs triads.

We can start with the manually curated work, and find results such as given a GOLD paths, what are the top X mixs triads that were mapped to it.

Additional steps:
* add other fields to as input to make algorithm better
* use NLP/ML on description fields

[2020-08-05 20:58] cmungall commented on #66
@StantonMartin added metadata about the Zobler layers in #133 -- this is similar to what is in the Identify_layers.csv provided by @Blancohl but includes additional metadata about the layer itself:

https://github.com/StantonMartin/nmdc-metadata/blob/54a482cb5e06d2c5183b9b57255ea230dbb2062d/identify/Zobler_Definitions.txt#L1-L19

Additionally, each class has a mnemonic associated with it, e.g.AF f

[2020-08-10 19:51] wdduncan opened #135 "modify makefile to build shex and owl artifacts"
Modify the build target in the makefile to also build owl and shex.

[2020-08-10 21:00] wdduncan opened #137 "(biolinkml) gen-owl not working for nmdc.yaml"
Running `gen-owl` is failing with `nmdc.yaml` as input.
Here is my output log for a simple command `gen-owl schema/nmdc.yaml > temp.owl`:
[code]
cc @deepakunni3 @cmungall

[2020-08-10 21:04] wdduncan commented on #135
Makefile updated to build shex target. An error was raised for building the owl target. See #137

[2020-08-10 21:04] #135 closed

[2020-08-10 21:28] wdduncan commented on #113
@cmungall I think this we've tackled this one with Aim 2 workflows (e.g., assembly file `was generated by` metagenome assembly (workflow execution activity).

Let me know if you want to re-open.

[2020-08-10 21:28] #113 closed

[2020-08-10 21:30] wdduncan commented on #112
This has been resolved. We are using process sense of 'workflow', which we call a 'workflow execution activity'.

[2020-08-10 21:30] #112 closed

[2020-08-11 18:51] wdduncan opened #138 "test biolink 1.5.4"

[2020-08-11 20:46] wdduncan commented on #138
Tested. See PR https://github.com/microbiomedata/nmdc-metadata/pull/139.
Also submitted ticket to biolinkml about extra slots produced. See https://github.com/biolink/biolinkml/issues/228

[2020-08-11 20:46] #138 closed

[2020-08-18 19:07] wdduncan commented on #137
This is now fixed.

[2020-08-18 19:07] #137 closed

[2020-08-18 19:11] wdduncan opened #140 "Create subsets for NMDC schema"
For UML generation, we need to be able only certain subsets of the schema. Add an `in_subset` slot to specify subset and annotate schema with subsets.

cc @deepakunni3 @cmungall

[2020-08-19 20:08] wdduncan commented on #36
@dehays Do you think we are ready to close this?

[2020-08-19 20:10] wdduncan commented on #8
@wdduncan compare with Torben's analysis.

[2020-08-19 20:51] wdduncan commented on #132
@jagadishcs has documented information he used to create the ENVO triads here: https://docs.google.com/document/d/1_WkxKCw_Msb_4z2d0QkdnmyKyGtlSRlta8GeBSfCjVU/edit

[2020-08-20 08:46] kaiiam commented on #8
Didn't Jagadish also do a mapping of the GOLD 5 tuples to ENVO triads separately from what I did? If so perhaps also include that too?

[2020-08-20 12:42] wdduncan commented on #8
@kaiiam Yes. He did. That is what are going to compare against.

[2020-08-21 20:31] wdduncan opened #146 "is-a link broken for gold path slots"
The is-a link is broken for GOLD path fields; e.g.: https://microbiomedata.github.io/nmdc-metadata/docs/ecosystem.html.

@deepakunni3 could this be a problem with how the documentation is generated? Could the lack of a blank line after "TODO" cause this?

Here is an example of they yaml:
[code]

cc @cmungall

[2020-08-21 23:07] wdduncan opened #147 "refactor code in data_operations.py"
The code base in `data_operations.py` has gotten a bit hairy. It should refactored if we have time.

@cmungall Not sure where to place this on the priority list.

[2020-08-24 15:51] cmungall opened #148 "Include mapping to NCBI Biosample and Bioproject ID in export"
This should be modeled using a generic mappings/xrefs field

[2020-08-27 17:52] wdduncan opened #150 "add slot relating biosample to study"
Currently, biosamples are related to biosamples via omics processing. I.e.:
[code]
It would be useful to have a slot that directly related biosamples to studies.

[2020-09-09 22:16] wdduncan opened #151 "Add download link for the nmdc database on main README"
Also, do some cleanup, e.g.:
- remove references to notebooks
- add version 5 of raw database dump

[2020-09-09 22:23] wdduncan opened #152 "Create summary stats as part of ETL"

[2020-09-09 22:27] wdduncan opened #153 "Add link to SSSOM file on the top level README"

[2020-09-09 22:33] wdduncan opened #154 "Add mappings in the Excel files in the mapping-files directory to the SSSOM file"
Mapping information in the Excel files found in the `mapping-files` directory, needs to be add to the SSSOM file located in `schema/mappings/gold-to-mixs.sssom.tsv`.

cc @cmungall @jagadishcs

[2020-09-15 16:22] cmungall opened #155 "Evaluate NMDC metadata against FAIRSFAIR"
https://zenodo.org/record/3707985#.X1-brGdKj6A

(Stub ticket, I will flesh out later, also need to add to a GH project)

[2020-09-16 18:53] wdduncan commented on #151
Done. See PR https://github.com/microbiomedata/nmdc-metadata/pull/156

[2020-09-16 18:53] #151 closed

[2020-09-16 19:08] #153 closed

[2020-09-21 21:52] wdduncan opened #158 "Review EMP metadata"
EMP data is located here:
https://github.com/INCATools/biosample-analysis/blob/master/target/emp_studies.tsv

We'll want to formally represent mappings such as: `altitude_m: 0.0 --> altitude: 0.0 m` using SSSOM.

cc @cmungall

[2020-09-21 22:05] cmungall commented on #158
That's the link for the studies, or rather the link in our separate analysis project

The source for the studies csv is https://zenodo.org/record/890000/files/emp_studies.csv?download=1

We also need the samples: ftp://ftp.microbio.me/emp/release1/mapping_files/emp_qiime_mapping_release1.tsv

There are 26 fields in the study table, 76 in the sample table. We could run these through metadata_conver

[2020-09-21 22:15] cmungall commented on #158
Here is a summary of correlations between ENVO triads and EMPO triads

|COUNT|env_biome|env_feature|env_material|empo_1|empo_2|empo_3|
|---|---|---|---|---|---|---|
|1999|Large river biome|animal-associated habitat|feces|Host-associated|Animal|Animal distal gut|
|1816|urban biome|human-associated habitat|sebum|Host-associated|Animal|Animal surface|
|1614|Small lake biome|freshwater habitat|fresh w

[2020-09-21 22:30] cmungall commented on #158
OK, I have questions for EMP, still formulating

I am looking at the study 'Geographic distance and pH drive bacterial distribution in alkaline lake sediments across Tibetan Plateau' and the associated samples, e.g. 1627.AWC

When I look in mgnify at this study:

https://www.ebi.ac.uk/metagenomics/studies/MGYS00003699

And the samples:

https://www.ebi.ac.uk/metagenomics/samples/ERS1296654

I see

[2020-09-22 01:51] elishawc commented on #158
They actually have quite a bit more metadata here
https://www.ebi.ac.uk/biosamples/samples/SAMEA4385205

including phosphate, but the numbers don't quite match and they don't
report units for phosphate (but do other measurements)

On Mon, Sep 21, 2020 at 3:31 PM Chris Mungall <notifications@github.com>
wrote:

--
Elisha M Wood-Charlson, PhD (she/her)
KBase <https://kbase.us/> User Engagement Lead

[2020-09-25 17:19] cmungall commented on #158
I'm going to call this done, findings collected in https://docs.google.com/presentation/d/1cPlur01uhJrRutJkOHS_mOgw4fVbxnU5Yis5KJtSjJ4/edit#slide=id.g5377561ea4_0_430

for EMP metadata we should get from NCBI by way of GOLD, will be coordinated with @jagadishcs via different ticket

[2020-09-25 17:19] #158 closed

[2020-09-25 17:24] cmungall opened #159 "schema/mappings/gold-to-mixs.sssom.tsv has syntax errors"
[code]

the object_id field must be a CURIE. You can't do free text with keywords like OR. This is to be machine readable. Put stuff intended for humans in the comments column.

In this case if we don't know how to map 1:1 then we can use skos:close

[2020-09-25 19:43] #159 closed

[2020-10-02 19:18] cmungall commented on #132
Can we generate a TSV with releases with columns

 - 1. Sample ID
 - 2-6. GOLD 5-tuple
 - 7-9. MIxS ENVO triad

[2020-10-02 21:40] wdduncan commented on #132
Yes. We can do this in a number of way:
- SQL on the sqlite db
- jq on the nmdc_database.json.zip (output of etl)
- python script on nmdc_merged_database.tsv.zip

[2020-10-06 19:40] #110 closed

[2020-10-21 22:30] dwinston commented on #152
@kfagnan suggested a "coverage" metric of sorts to assign to each externally sourced entry. For example, you recently pulled ~40k entries from the NCBI SRA, correct? For each entry x, we could give a score of M/N where N is the number of NMDC-schema attributes available(/applicable?) and M is the number of (non-null-valued) NMDC-schema attributes included in the entry x.

It sounds like this would

[2020-11-04 22:49] cmungall opened #164 "Add ability to link studies or make umbrella studies"
At JGI we have many cases where there are multiple proposals that span a long-term “study” (e.g., a large, multi-year SFA project that involves many hundreds of samples).

[2020-11-05 21:24] cmungall opened #165 "Align concept of study/project between NMDC and EMSL"
We should make sure the NMDC modeling of studies in the schema matches what is in EMSL

We have aligned this with GOLD but we should also make the mapping more explicit

For reference, this is the documentation page for the study class in our schema

https://microbiomedata.github.io/nmdc-metadata/docs/Study

Auto-generated UML diagram (not so useful IMO):

![image](https://user-images.githubuserco

[2020-11-11 21:56] cmungall opened #166 "Define ontology for soil treatments"
For experimental factor we have:

[code]

This is very biomedical focused guidelines

We need some recommendations for non-biomedical scenarios

e.g.

 - http://obofoundry.org/ontology/peco Plant Experimental Conditions Ontology

cc @mslarae13

[2020-11-18 00:58] jagadishcs opened #167 "Need for some of the plant-associated terms"
Hi Pier and Chris
@pbuttigieg
@cmungall
@TBKReddy
@wdduncan

The following three terms were previously found in the EnvO, but not now; we are using them for some of the plant-associated biosamples in the NMDC & GOLD. Can you please make them available again in the EnvO:

flower	PO_0009046
seed	PO_0009010
fruit	PO_0009001

[2020-11-18 02:01] jagadishcs opened #168 "Need for some new terms"
Hi Chris and Pier
@cmungall
@pbuttigieg
@TBKReddy
@wdduncan

The following new terms are required for plant-associated biosamples; all of them are described in the other ontologies, so, I have provided them as pair, term: IDs.

bark: PO_0004518
spikelet: PO_0009051
root tip: PO_0000025
fine root: BTO_0005194
panicle: BTO_0005436
seedling: BTO_0001228
pollen: PO_0025281
radicle: PO_0020031
rhizoid:

[2020-12-04 04:12] cmungall opened #169 "Extend schema to cover metaproteomics output"

[2020-12-05 01:19] cmungall opened #170 "Extend schema to cover metabolomics output to enable search by compound"
C-MS based metabolomics workflow output examples from @corilo here:

https://drive.google.com/drive/u/1/folders/1_dHFvIK9PwJCKVJznwqWgqvfOIhTCkvx

Expected changes:

Metadata JSON file: structure will change after the adoption of the labels defined on AIM 1,
DataTable CSV file: metabolite names will change (removing comments and extra fields), and more columns will be added to include CAS and KEGG

[2020-12-08 01:35] cmungall opened #171 "biosample processing and omics processing should not be in a subclass relationship"
biosample processing is documented to be a process that takes samples as inputs and generates samples as outputs; ie sample->sample

[code]

we can map this to to [material processing in OBI](https://www.ebi.ac.uk/ols/ontologies/obi/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0000094)

this can be used to represent graphs of arbitrary depths of processes on samples, from treatments thro

[2020-12-08 23:52] wdduncan commented on #171
Yes. This seems reasonable.

Re: mapping omics processing to obi:assy.
Not sure. Depends on what semantics are entailed by "mapping". OBI:planned process has these axioms about realizing concretizations of planned processes and the like. Are we committing to that semantics too?

[2020-12-09 03:09] cmungall commented on #171
planned processes and the like. Are we committing to that semantics too?

We're not concerned with this kind of ontological detail. Just basic
biologist level definitions, would what we consider examples also be
considered examples in OBI?

On Tue, Dec 8, 2020 at 3:52 PM Bill Duncan <notifications@github.com> wrote:

[2020-12-09 21:57] wdduncan commented on #171
Cool :)
I assume we can use the mapping slots described here: https://biolink.github.io/biolinkml/docs/mappings.html
Do you want to use the `exact_mappings` slot or add an `assay` class to NMDC yaml and have `omics processing` inherit from it?

If we do as you suggest, the I think the examples still work.

Examples of outputs include samples cultivated from another sample or data objects created b

[2020-12-10 19:31] dehays commented on #170
Yuri @corilo - will produce JSON document for a single execution of his workflow.  Then get feedback (Chris, Bill, David)  and possibly iterate before continuing to do remaining metabolomics workflow instances - structure will then be used for lipidomics and OM workflow execution metadata

[2020-12-10 19:35] dehays commented on #169
@SamuelPurvine will iterate with @cmungall @wdduncan and @dehays  on structure and content.  @anubhav0fnu will modify the script that produces JSON once he has returned (Congratulations!) in January.

[2020-12-10 19:45] dehays opened #173 "DataObject will need a URI property to support file downloading"
The value of this new term will likely NOT be available when the DataObject metadata JSON is initially created - but will need to be present before the NMDC prototype application can support file downloads.

That is, when workflow execution provides DataObjects for output files we likely will not know yet where those files will be moved to be accessible from the application client interface.  We c

[2020-12-11 17:24] wdduncan opened #175 "add test travis"
Add `make test` to `.travis.yaml`.

@cmungall Are you wanting to test the json output from the ETL?

[2020-12-11 17:48] cmungall commented on #20
`make test` fails

travis should always run make test which should pass

[2020-12-11 18:22] cmungall opened #176 "Define how the schema should be used to implement search based on metabolites, reactions, or pathways"

[2020-12-11 20:53] jeffbaumes commented on #176
This is exactly the kind of picture I was thinking of, thanks. Makes sense that these relationships are independent of a particular system like KEGG.

Would **Organic Matter Classification analysis** also link to compound? It's my understanding that those analyses could include many more compounds with different IDs. Similar question for **Lipidomics analysis**. It's unclear whether all of these a

[2020-12-11 21:00] dehays commented on #176
@jeffbaumes  Yes, both organic matter characterization and lipidomics would follow the same path through that diagram as metabolimics.  And Yuri intends to include the same structure in  for including compound terms for all three.

[2020-12-11 21:03] kfagnan commented on #176
This picture is really helpful, thanks, Chris!

For Feb we have discussed metaG, metaT (if we've got processed data), metaP, and metaB since we should have NMDC pipelines for each of those types.

For lipidomics and organic matter, we'd like to include the data (with guidance on which data would be useful), but only show the data as being connected to a study. If there are pipelines and appropriat

[2020-12-11 22:32] dehays commented on #176
@jeffbaumes It looks like he still working on it, but that document Chris linked has a user story section that you might find useful

[2020-12-11 23:04] cmungall opened #177 "Extend schema to allow for functional annotations"
Required for #176

[2020-12-12 01:17] cmungall commented on #176
@jeffbaumes @dehays don't worry about the linked document for now, I updated the first comment to include the relevant text

[2020-12-15 04:13] corilo commented on #170
@dehays, @cmungall @wdduncan
Here is the first draft of the JSON document. Please provide feedback on the structure, labels, and any missing data as required.

I forgot what the "was_informed_by" and what it should contain. Please help?

https://drive.google.com/file/d/1BnP8q-iDQP2vmswN9v68WDQfNG4uDek5/view?usp=sharing

Thanks

[2020-12-16 08:35] dehays commented on #170
[code]
This ID (the sha256 hash) doesn't match the ID of any instrument output EMSL has provided to NMDC.  This uses that dataset ID (that some parts of EMSL use and some parts do not) with a prefix of "output_".  Looks like "emsl:output_500097".     We can revisit how EMSL sets unique IDs, but the IDs need to be consistent so that there is a path back from analysis to sample and study.

"was_info

[2020-12-17 18:45] cmungall opened #179 "bring in compound-reaction/pathway linkages e.g. from KEGG"
in order to support search of metaG/T/P by compound we need linkages.  See #176

[2020-12-17 19:58] jeffbaumes commented on #179
My current understanding is that metaG/T/P and metaB/OMC will be linked through sample only for GSP, but that this would be added in the future. Does that match your expectation or conversations @cmungall?

[2020-12-17 21:29] cmungall opened #180 "Export metabolomics JSON conformant with NMDC schema"
Dependent on #170

The json output should validate against nmdc.json

[2020-12-17 21:30] cmungall opened #181 "Export metaP JSON conformant with JSON schema"
Dependent on #169

The JSON should validate against nmdc.json

[2020-12-17 22:50] corilo opened #182 "Add Chemical Entity obj to MetaboliteQuantification obj"
"metabolite_quantified": should be the ChemicalEntity object
 "$ref": "#/definitions/ChemicalEntity",

"MetaboliteQuantification": {:
         "additionalProperties": false,
         "description": "This is used to link a metabolomics analysis workflow to a specific metabolite",
         "properties": {
            "highest_similarity_score": {
               "description": "TODO: Yuri to fill in"

[2020-12-17 22:52] corilo opened #183 "Add names to ChemicalEntity obj"
Add IUPAC, COMMON, and TRADITIONAL names to the  ChemicalEntity obj

[2020-12-18 02:32] cmungall opened #184 "document mapping between NMDC-style GFF3 and schema annotation component"
The schema has inline docs detailing the mapping but we should provide a higher level guide. I will sketch out in this ticket and then this can be turned into docs on the site. I'm doing quickly so if anything is confusing, it's likely I made a mistake. I will also give examples in yaml but the json cognate should be obvious

Example

[code]

This GFF line represents the output of structural annot

[2020-12-18 22:33] hubin-keio commented on #184
Thanks so much, @cmungall . This is really helpful. Yes, col 9 is the annotation column. I have looked into the Python source code that is generated from the schema file and created a separate repository  (microbiomedata/pynmdc) so that people can try out the code easily. You, @wdduncan @scanon have been added to this repo, among a few others.

**What I need help with is how to:**

1. Translate 'C

[2020-12-21 21:47] hubin-keio commented on #184
I was able to get the string "SO:0000316" from the [SO-Ontologies](https://github.com/The-Sequence-Ontology/SO-Ontologies/tree/master/Ontology_Files) but I still need to see an example of how to parse the correct mapping object to "type." Thanks, @cmungall @wdduncan.

[2020-12-21 21:58] wdduncan commented on #182
"metabolite_quantified" references the primary identifier for the chemical entity

![image](https://user-images.githubusercontent.com/3186638/102825706-4b7fc500-43ad-11eb-9587-6686b379227e.png)

[2020-12-22 00:49] cmungall commented on #184
@hubin-keio - all you need to do is fill in the SO ID for the type. Let me know if you want help mapping other types (will we have other types than CDS?)

For 3, 'encodes' is the relationship between a feature like a CDS and the protein

[2020-12-22 16:32] hubin-keio commented on #184
Thanks, @cmungall.  I tried it using the schema (nmdc.py). Below is the code and error message:

 nmdc_gf = schema.GenomeFeature(
                        seqid=f'NMDC:{rec.id}',  # record id
                        start=feature_start,
                        end=feature_end,
                        strand=feature_strand,
                        type='SO:0000316',
                        encodes=f

[2020-12-22 18:35] cmungall commented on #184
Ah good catch, it looks like the schema was using a [ControlledTermValue](https://microbiomedata.github.io/nmdc-metadata/docs/ControlledTermValue) class which is a container for a [OntologyClass](https://microbiomedata.github.io/nmdc-metadata/docs/OntologyClass.html). I'm fixing to just use OntologyClass directly. With my PR your code should work

(the point of the container class is for biosample

[2020-12-22 23:13] hubin-keio commented on #184
Thanks. I just checked out branch issue-184-cv and it solved the problem of assigning string value to "type." For the other properties, how do I assign other features/properties to GenomeFeature objects, @cmungall ? Using the example you provided above, these features are pasted below. I was thinking using the Python Object Model generated from the schema may provide better data consistency. I can

[2020-12-23 03:04] cmungall commented on #184
Currently the schema doesn't support translation table, start_type. I don't see a use case for these in the immediate future so I just we proceed incrementally - don't include in the json for now, and return to this later.

For the source field, we have a provenance model (prov). If it's OK I'll return to describing how to fit in the program used for prediction into this. We'll also want to record

[2020-12-23 03:08] cmungall commented on #184
`superfamily => ['51338', '51556']`

is this correct?

http://supfam.org/SUPERFAMILY/51338

gives 404

is it this?
https://registry.identifiers.org/registry/supfam

or this?
https://registry.identifiers.org/registry/cath.superfamily

[2021-01-04 20:33] cmungall commented on #184
on the call I volunteered me/@deepakunni3 to help @hubin-keio with the gff->json transform

to help we would need some sample gff3 files. This is what I have from a random img analysis, is this representative?

[code]

[2021-01-04 21:20] corilo commented on #182
@cmungall and @wdduncan
Will this example work for populate the ChemicalEntity entries? If not what do you need changed?
[
 {
  "chemical_formula": "C3H7NO2",
  "inchi": "InChI=1S/C3H7NO2/c1-2(4)3(5)6/h2H,4H2,1H3,(H,5,6)/t2-/m0/s1",
  "inchikey": "QNAYBMKLOCPYGJ-REOHCLBHSA-N",
  "chebi": "16977",
  "kegg": "C00041",
  "smiles": "C[C@H](N)C(O)=O",
  "iupac_name": "(2S)-2-aminopropanoic acid",
  "tr

[2021-01-05 00:57] corilo commented on #180
@cmungall @dehays @wdduncan

Here is the metadata example based on the MetabolomicsAnalysisActivity schema, please let me know if any modification are needed:

{
 "activity_id": "nmdc:7a7f29ab99954e33be2290d7a67cab54",
 "ended_at_time": "2021-01-04 16:55:18",
 "execution_resource": "EMSL-RZR",
 "git_url": "https://github.com/microbiomedata/metaMS",
 "has_input": "emsl:output_501139",
 "has_output"

[2021-01-05 00:59] corilo commented on #180
@cmungall @dehays @wdduncan
and here is the data product registration file, which only contain one DataObj for now:
[code]

[2021-01-05 07:43] dehays commented on #184
@cmungall  Here is a a few of the 138661 lines of 1781_1000325_functional_annotation.gff (from /global/project/projectdirs/m3408/ficus/pipeline_products/1781_100325/annotation/ ).  This for one of the current Stegen metaG annotation workflow outputs.

`1781_100325_scf_1000_c1 GeneMark.hmm-2 v1.05    CDS     3       1700    192.32  +       0       ID=1781_100325_scf_1000_c1_3_1700;translation_table

[2021-01-05 19:09] corilo commented on #182
@cmungall and @wdduncan
Will this example work for populate the ChemicalEntity entries? If not what do you need changed?

[code]

[2021-01-05 19:11] corilo commented on #182
@cmungall and @wdduncan @dehays
Will this example work for populate the ChemicalEntity entries? If not what do you need changed?

[code]

[2021-01-06 18:54] wdduncan opened #188 "Migrate to Github Actions"
Migrate to Github Actions from Travis for CI/CD.

[2021-01-06 18:55] wdduncan commented on #188
@cmungall
I have forked the repo and I am testing GH actions here:
https://github.com/wdduncan/nmdc-metadata

[2021-01-06 18:56] wdduncan commented on #175
Add `make test` in #188

[2021-01-06 19:10] wdduncan opened #189 "Re-run ETL for new GOLD dump"
The schema for the GOLD data dump `GOLD_NMDC_DUMP_10162020.zip` has changed.  Need to modify ETL scripts.

[2021-01-07 22:07] wdduncan opened #193 "Represent MAG results"
Need to represent MAG results. Here is an example.

[code]
cc @cmungall @chienchi @dehays

[2021-01-07 22:07] wdduncan opened #194 "represent MAG results"
Need to represent MAG results. Here is an example.

[code]
cc @cmungall @chienchi @dehays

[2021-01-07 22:47] #173 closed

[2021-01-08 00:52] cmungall commented on #2
Update to the above:

Reddy did this, so identifiers will now resolve

E.g. the CURIE `GOLD:Gp0119849`

Can be resolved via

http://identifiers.org/GOLD:Gp0108335

This doesn't work on nt2.net though, I will follow up with them

[2021-01-08 01:42] cmungall commented on #184
@hubin-keio has provided examples here: https://github.com/microbiomedata/pynmdc/tree/main/src/nmdc/test_data

[2021-01-08 02:00] cmungall opened #195 "decide on structure of IDs generated as part of workflows"
cc @scanon to fill in details

[2021-01-08 06:50] hubin-keio opened #198 "Broken documentation links"
I tried a several links in the documentation and they all seemed broken. For example the following one from https://github.com/microbiomedata/nmdc-metadata/issues/184:
https://microbiomedata.github.io/nmdc-metadata/docs/GeneProduct

And this one from README.md:
https://microbiomedata.github.io/nmdc-metadata

[2021-01-08 06:58] hubin-keio commented on #184
Can you provide a complete JSON version of the original example (Ga0185794_41)? I have pulled 1000 lines of a gff file from an early run of the annotation workflow and it is available here: https://github.com/microbiomedata/pynmdc/tree/main/src/nmdc/test_data/MetaG_annotation

I am still working on the converter. The unfinished version is here:
https://github.com/microbiomedata/pynmdc

I would lik

[2021-01-08 22:38] wdduncan opened #201 "Change owl products to have "*.owl.ttl" extension"
In the Makefile, change the extension of the owl products to have `owl.ttl` extenesion.
E.g.:
[code]
cc @cmungall

[2021-01-09 02:21] cmungall commented on #194
@wdduncan do we have an easy way to tell which subset of MIxS is in the MIMAG subset

MIMAG described here, with a link to S1 which has MIMAG terms - I believe these are all now in MIxS
https://www.nature.com/articles/nbt.3893#MOESM9

[2021-01-10 02:43] wdduncan commented on #194
I don't think so. We have a mixs-rdf call on Jan. 11. Perhaps we should bring this up?

[2021-01-10 02:44] wdduncan commented on #188
GH actions have implemented for pull requests.

[2021-01-10 02:44] #188 closed

[2021-01-10 02:51] wdduncan commented on #171
@cmungall Do we want to change the definition for biosample processing:
[code]
Under this definition, data objects can be outputs. So, it is okay to for omics processing to be a subclass.

[2021-01-11 19:02] wdduncan opened #203 "GH pages times out"
The GH actions for creating the documentation is timing out.

[2021-01-11 19:08] wdduncan commented on #203
After submitting the issue to GH, I was informed that deploying to gh-pages will timeout if the process takes longer that 10 min. Pasting in GH's suggestion about how to address our issue.

Unfortunately, it looks like your builds are timing out. I triggered a build myself and it, too, timed out. Pages builds have a strict 10 minute time limit, and the size or structure of a repository can cause b

[2021-01-11 19:09] wdduncan commented on #198
Working on this. See #203 for details.

[2021-01-11 22:09] wdduncan commented on #194
@cmungall It looks like there is column named "mimag" under the checklists that can identify such terms.

[2021-01-13 00:14] dehays commented on #193
@wdduncan  As far as I can tell - this is a duplicate of #194 - consider closing this one and keeping #194 as it has comments

[2021-01-13 02:13] wdduncan commented on #193
nice catch @dehays !
Not sure how this happened. Going to close issue.

[2021-01-13 02:13] #193 closed

[2021-01-13 19:57] deepakunni3 commented on #184
@hubin-keio Quick observations:

- The objects in `test_data/MetaG_annotation/1781_100325_fa.json` should be separated by a comma. See https://github.com/microbiomedata/pynmdc/blob/main/src/nmdc/test_data/MetaG_annotation/1781_100325_fa.json#L37
- Also, all the objects in a file should be arranged and grouped by a database/type holder.

For some examples of the JSON, see here:
- https://gist.githu

[2021-01-13 21:08] cmungall commented on #184
I added Deepak's examples to the repo in the examples folder: https://github.com/microbiomedata/nmdc-metadata/tree/master/examples

(not we also validate against all examples in this folder as unit tests and within github/travis CI)

[2021-01-13 21:12] hubin-keio commented on #184
Thanks for the comments. @deepakunni3, is your parser working? I have committed the last planned update before GSP this morning.

[2021-01-13 21:14] hubin-keio commented on #184
The "was_generated_by": "N/A"" field is still there in your examples. Maybe you want to remove it in your code?

[2021-01-13 21:21] deepakunni3 commented on #184
Yes, the "N/A" was a placeholder to remind us that this information is missing and needs to be incorporated. Will remove from the script.

[2021-01-13 21:32] hubin-keio commented on #184
In the discussions in Aim1_standards channel it was mentioned on 1/9 "yes, never use values like "N/A", always make it an explicit json null, or simply omit the key altoogether." But I am fine with your parser solution as long as it is okay among Aim 1 and 3. Please put in Aim 2 channel the location of your parser once it is done so that we can process the GFFs. Aim 3 needs the JSONs ready by this

[2021-01-13 21:52] deepakunni3 commented on #184
I am not sure what the expectation here is between your pynmdc converter vs my GFF3 converter.

Perhaps we can talk more on the technical call today.

Regarding the "N/A", thanks for clarifying. That makes sense. I can replace that with `null`

[2021-01-13 22:10] anubhav0fnu commented on #169
thank you @dehays, yes, I'll do it asap, I'm working with Sam on it.

[2021-01-13 22:58] cmungall commented on #184
the `was generated by` field should link to the MetagenomeAnnotation activity

we will better document this in the schema

(this answers @scanon's Q on the tech sync call)

[2021-01-14 01:46] cmungall commented on #198
fixed

[2021-01-14 01:46] #198 closed

[2021-01-14 18:00] wdduncan opened #207 "url field clashes with mixs:url"
In the data object generated by NMDC the slot `url` conflicts with `mixs:url`.
The range of `nmdc:url` is a string, whereas the range of `mixs:url` is an object.

cc @cmungall

[2021-01-14 18:11] #207 closed

[2021-01-14 20:00] dehays opened #210 "merge Brodie biosamples and set references from omics_processing objects"
Currently - nmdc-metadata/blob/master/metadata-translation/src/data/nmdc_database.json.zip contains biosamples representing both RNA and DNA samples.  Sequencing omics_processing objects refer to these biosample objects.

For Brodie - we need to update the biosample objects to merge the GOLD RNA and DNA biosample objects into single objects.  The new object will use the IGSN id provided.

https://

[2021-01-14 23:57] dehays opened #212 "Update existing DataObject JSON"
include URL values for all files supporting downloadability

[2021-01-15 00:04] dehays commented on #212
None of the JSON for DataObjects in nmdc-metadata/blob/master/metadata-translation/src/data/nmdc_database.json.zip include the URL property necessary for downloading.  All fastq, raw EMSL, qc, assembly files that are intended for download need to be wrapped in DataObjects that include the URL property

[2021-01-15 00:12] dehays opened #213 "metaT workflow analysis activity JSON, FunctionalAnnotation and output DataObjects"
I would imagine this to be similar to what @scanon did for the IMG metaG analysis activity and the annotation work #184 but the only related JSON I have seen is pynmdc/blob/main/src/nmdc/test_data/MetaT/metaT.json which is not NMDC Schema compliant (Not sure it is even meant to be.)

[2021-01-15 00:16] dehays opened #214 "Natural Organic Matter / Organic Matter Characterization Analysis WF Activity and output JSON"
Very similar to the metabolomics work that @corilo already did

[2021-01-15 00:26] dehays opened #215 "Read-based Taxonomy Analysis Activity and DataObject for output files JSON"
First we need a ReadBased Analysis Activity in the NMDC Schema (class and appropriate slots) to nmdc.yaml, and Second check that the following are valid and adequate

https://portal.nersc.gov/cfs/m3408/meta/ReadbasedAnalysis_activity.json
https://portal.nersc.gov/cfs/m3408/meta/ReadbasedAnalysis_activity_data_objects.json

[2021-01-15 00:27] dehays commented on #214
I believe this also needs a workflow execution activity added to the NMDC Schema

[2021-01-15 00:27] dehays commented on #213
I believe this also needs a workflow execution activity added to the NMDC Schema

[2021-01-15 16:52] wdduncan commented on #215
We may need to add an empty `ReadbasedAnalysis` analysis class. All the fields are the parent class.

[2021-01-15 16:56] wdduncan opened #217 "Add identifiers policy and schema validation docs to documentation"
Modify the `mkdocs.yml` to include the identifier and validation docs.

[2021-01-15 17:22] #217 closed

[2021-01-15 22:00] cmungall commented on #212
url is already present in DataObject https://microbiomedata.github.io/nmdc-metadata/DataObject/ - can we close this?

[2021-01-15 23:17] dehays commented on #212
@cmungall This issue is about instances of DataObject that have already been created and need to be updated based on information regarding file location.  As you say, URL is present in the schema - added this when I closed #173

[2021-01-15 23:21] dehays commented on #212
@scanon You are the person with the information necessary to do this update as you are the person who is setting the locations of files on CFS.  Is it on your radar to do this for the existing files - raw read fastq on down?  If needed, we can deal with the JSON object updates if you can provide the file/DataObject ID --> URL information.

[2021-01-20 21:08] #215 closed

[2021-01-20 22:26] anubhav0fnu commented on #181
@cmungall , now you can assign, I wasn't part of repo

[2021-01-22 14:32] wdduncan opened #226 "Create package specific MIxS documentation"
Enhance the MIxS documentation so that terms can be petitioned by package.

cc @cmungall

[2021-01-22 19:56] dwinston opened #227 "support MetabolomicsAnalysisActivity properties in activity_set or a variant"
In the json schema, [activity_set](https://github.com/microbiomedata/nmdc-metadata/blob/6e0c5d1a2534eca59226b0a491cb25ee33d6676b/schema/nmdc.schema.json#L2018) is a list of references to `WorkflowExecutionActivity` objects. However, when a conceptual subclass such as `MetabolomicsAnalysisActivity` is checked for conformance, it is considered invalid by `jsonschema` if for example it has a [has_met

[2021-01-22 20:44] wdduncan commented on #227
@dwinston Do you have link to file I should look at to test with?

[2021-01-22 20:53] dwinston commented on #227
Sure, https://nmdcdemo.emsl.pnnl.gov/metabolomics/metadata/Froze_Core_2015_S2_0_10_7_Metab.json

[2021-01-22 20:56] dwinston commented on #227
'has_calibration' therein is not currently part of the schema but should be there as a string-typed id reference. @corilo array-typed, i.e. can the calibration be relative to multiple entities?

[2021-01-22 21:25] dwinston commented on #227
@wdduncan changing the subject of this issue to accommodate a solution where another database "set" is introduced, e.g. MAGsAnalysisActivity has mags_activity_set

[2021-01-22 23:12] wdduncan opened #230 "create new database sets for json validation"
In the `nmdc.yaml` add new `sets` to include more sets. I.e., expand the `slots` in the `database` class:
[code]
Also add new test files to the `examples` folder as needed.

@dwinston @dehays @jbeezley @corilo @cmungall
I'm going to add the examples posted in Slack, but if you could update this tickets with sets that I miss it would helpful for keeping information consolidated.

[2021-01-22 23:14] corilo commented on #227
No, it's always only relative to one entity

Em sex., 22 de jan. de 2021 às 12:56, Donny Winston <
notifications@github.com> escreveu:

[2021-01-22 23:20] wdduncan commented on #227
see also #230

[2021-01-22 23:42] wdduncan commented on #230
sets to add:
[] nom workflow execution activity
[] metabolomics analysis activity

[2021-01-25 23:15] wdduncan commented on #227
@dwinston I'm going to close this b/c our creation of different activity sets addresses this. Please re-open if you think this is still an issue.

[2021-01-25 23:15] #227 closed

[2021-01-25 23:19] #230 closed

[2021-01-25 23:19] dwinston commented on #227
I think it's still an issue until e.g. #231 is merged. I won't re-open because I expect #231 to merge soon.

[2021-01-26 18:01] wdduncan opened #233 "principal investigator name not included with study"
The principle investigator in not being included in the study data. Will debug as part of new GOLD ETL dump (see #189).

cc @cmungall @dehays @dwinston

[2021-01-27 14:46] jbeezley opened #234 "Add missing data_objects"
There are several data objects missing from the mongo instance that are referenced by other objects.  None of these will break anything on the portal, but they will be missing from search results.

The following data_objects are referenced by omics_processing:
[code]

And these are referenced by metagenome annotation:
[code]

[2021-01-27 14:54] jbeezley opened #235 "Missing attributes from workflow execution activities"
In previous versions of the source data, the workflow execution activities contained extra attributes that I had made required columns.  These extra columns are missing from the latest data for read qc and metagenome assembly.

This is currently breaking ETL on these tables.  I could remove these attributes from my tables or make them nullable.  It mostly depends on what we want to be searchable/v

[2021-01-27 16:17] wdduncan opened #236 "Schema failing for Froze_Core_2015_S2_0_10_7_Metab.json, feature-set.json, and nmdc-01.json"
Fix schema issues for Froze_Core_2015_S2_0_10_7_Metab.json, feature-set.json, and nmdc-01.json.

[2021-01-27 18:30] dwinston commented on #210
for omics_processing entities, only to-IGSN has_input IDs

[2021-01-27 21:01] dwinston commented on #235
Okay, we need a separate collection for `MetagenomeAssembly` documents, akin to e.g. "metabolomics_analysis_activity_set" for `MetabolomicsAnalysisActivity` docs in order to have those extra metaG assembly columns pass though json schema validation. @wdduncan ?

[2021-01-27 21:03] dwinston commented on #235
and another collection for `ReadQCAnalysisActivity` documents to get in your Read QC table columns.

[2021-01-27 22:14] dwinston commented on #235
...and another for `MetaproteomicsAnalysisActivity` documents to support metadata for those activities.

[2021-01-27 23:58] #236 closed

[2021-01-28 00:04] wdduncan commented on #235
@dwinston There is now a metaproteomics analysis activity set.
See PR https://github.com/microbiomedata/nmdc-metadata/pull/239

[2021-01-28 00:18] wdduncan commented on #233
@dwinston @jbeezley
I change the name of the property in the schema to `principal investigator name`. See PR https://github.com/microbiomedata/nmdc-metadata/pull/240

Let me know if this works.

[2021-01-28 16:52] wdduncan commented on #235
@jbeezley @dwinston added read QC analysis activity set to database schema.
See PR https://github.com/microbiomedata/nmdc-metadata/pull/242

[2021-01-28 23:01] wdduncan commented on #203
We have switched to using Mkdocs and this has fixed the issue. We can close.

[2021-01-28 23:01] #203 closed

[2021-01-28 23:03] wdduncan commented on #214
The schema now has a `nom analysis activity set`. Can we close this ticket?

[2021-01-28 23:10] #214 closed

[2021-01-28 23:10] dehays commented on #214
yes

[2021-01-29 00:32] dehays opened #243 "fix field names in metaP analysis activity JSON being produced"
So...  the metaP analysis activity didn't validate because of the names of the fields in the peptide quantification objects.  Here's what you produced:
[code]
and here is what is in the schema (  https://github.com/microbiomedata/nmdc-metadata/blob/master/schema/nmdc.yaml ) :

[code]

The issue is that  "min(QValue)", "SpectralCount",  "sum(MASICAbundance)", "PeptideSequence",  and "BestProtein" a

[2021-01-29 16:01] cmungall opened #244 "document and map schema elements for workflows and outputs"
In the run up to GSP we rapidly added many classes and fields to be able to accomodate all omics workflows and outputs. Post GSP we should return to this and fully document these, and map to existing ontologies where possible.

In some cases we have good documentation, but we still need to map to existing standards/ontologies; e.g

      min_q_value:
        description: >-
          smallest Q-Va

[2021-01-29 16:55] wdduncan opened #245 "add principal_investigator_name and processing_institution to omics_processing"

[2021-01-29 17:12] #245 closed

[2021-01-29 17:13] wdduncan commented on #245
@dwinston @dehays @jbeezley properties added.

[2021-01-29 20:03] #233 closed

[2021-01-29 23:17] wdduncan opened #250 "omics processing set and study set: additional properties not allowed"
The omics process has additional properties not allowed:
- 'principal_investigator_name'
- 'mod_date'
- 'add_date'
- 'processing_institution'
- 'ncbi_project_name'

Also for study check:

- 'principal_investigator_name'
- 'type'

[2021-01-30 06:40] anubhav0fnu commented on #243
corrected once are at : `/global/project/projectdirs/m3408/www/meta`
[code]

[2021-01-30 20:12] SamuelPurvine commented on #244
I would also very much like to make sure we address the peptide quantification versus/in addition to protein quantification, whether these can/should be separate JSON entities or collapsed/grouped as you were suggesting. Once we have actual results with which to play it ought be easier to suss out the best path.

[2021-02-02 02:26] wdduncan commented on #250
@dwinston @jbeezley @dehays @cmungall
I modify the schema and the nmdc_database.json so that study, omics processing, and biosample now validate.
The activity sets **do not** validate. This will require more changes to the nmdc_database.json.

[2021-02-02 02:26] #250 closed

[2021-02-04 05:29] #243 closed

[2021-02-04 06:34] dehays opened #252 "Stegen - metadata update - linked samples"
Using [Stegen biosample linking update](https://docs.google.com/spreadsheets/d/1nZOJYiC2QN0hOn5nDj9y9mteWeGyzQQls17zH5mESww/edit?usp=sharing) as input.

- [x] Begin by creating new biosample documents.  Start with the unique set of values in column D (biosample ID) for which column E value is TRUE.  (The new biosample objects use UUIDs as IDs rather than GOLD biosample IDs.).  The IDs used on the

[2021-02-04 06:43] dehays opened #253 "Brodie - metadata update - linked samples"
Using [Brodie_biosample_linking_update](https://docs.google.com/spreadsheets/d/1Gj6jwU5d8kdYhq8zuvjTB3T4-nt3Ru7NhxYpTeR9eRw/edit?usp=sharing) as input.

Update existing omics_processing documents. Iterate through the values in column A, using this dataset id as the reference to existing omics_processing objects (where "id" is "emsl:" + value in column A). Please take note of any case where no omic

[2021-02-04 14:31] #252 closed

[2021-02-04 14:37] dwinston commented on #253
The working notebook for this issue and for #252 is [here](https://github.com/microbiomedata/nmdc-metadata/blob/fa000e848ec4658b88aa564ac1804e896bd6d4de/metadata-translation/notebooks/ghissue_252_253_linked_samples.ipynb). #252 is done (pushed to dwinston_share db).

The notebook is a bit long because (1) I decided to use the Google Sheets/Drive APIs to source the spreadsheet and the json template

[2021-02-04 15:26] dwinston commented on #253
[Done](https://github.com/microbiomedata/nmdc-metadata/blob/fb4e35acf421e9dcd71664a5b172377231430203/metadata-translation/notebooks/ghissue_252_253_linked_samples.ipynb).

[2021-02-04 15:26] #253 closed

[2021-02-10 20:07] dehays opened #255 "Remove the 40 Wrighton EMSL omics_processing and data object documents that relate to isolates"
These are the omics processing docs to remove -

[code]

Also need to remove the data objects that are referred to in the has_output of the 40 omics_processing above.  (Joins in Mongo? )

[2021-02-10 22:10] #255 closed

[2021-02-11 19:56] wdduncan opened #256 "For GSP 2021 convert NMDC-MIxS overview to Mkdocs documentation"
For the upcoming GSP, convert the `NMDC_MIxS_Soil_documentation.docx` (and others as needed) to markdown and add to Mkdocs documentation.

See attached.

[NMDC_MIxS_Soil_documentation.docx](https://github.com/microbiomedata/nmdc-metadata/files/5968078/NMDC_MIxS_Soil_documentation.docx)

cc @pvangay

[2021-02-11 20:03] wdduncan opened #257 "Post GSP 2021 priorities"
This a list for priorities that need to be discussed after GSP 2021. Please add to the list as needed.

- [ ] Formalize schema versioning in releases (we currently have a version field for the schema, but we need to use it for publishing data)
- [ ] Standardize the pipeline used for getting data into MongoDB and providing the data to Kitware (.e.g., perhaps put Kitware queries in a yaml file)
- [

[2021-02-11 21:10] wdduncan commented on #256
@pvangay I posted a preliminary of conversion of document:
https://github.com/microbiomedata/nmdc-metadata/blob/issue-256/docs/NMDC_MIxS_Soil_documentation.md

[2021-02-11 23:18] cmungall opened #258 "Align to metabolomics standards"
Being lazy and just pasting from:

https://www.metabolomicsworkbench.org/data/datasharing.php

We recommend the guidelines of the Metabolomics Society as published below, but the data/metadata requirements may extend beyond what is proposed in these documents. The Metabolomics Society published a set of rules in Metabolomics (ISSN 1573-3890), Volume 3, Number 3, September 2007; http://www.springer

[2021-02-11 23:59] wdduncan commented on #256
Documentation deployed on Mkdocs:
https://microbiomedata.github.io/nmdc-metadata/NMDC_MIxS_Soil_documentation/

I'll leave this ticket open for now, in case we need to add to it.

[2021-02-12 00:14] wdduncan opened #260 "principal_investigator_name missing in nmdc_merged_data.tsv.zip"
`nmdc_merged_data.tsv.zip` is missing the `principal_investigator_name` fields.

[2021-02-12 01:55] #260 closed

[2021-02-12 23:54] kfagnan opened #262 "Add descriptions for Data Portal tool tips"
@jbeezley @subdavis @jeffbaumes @wdduncan @dwinston @dehays
Tagging you all as I'm not sure how you all will want to implement this.

I'm including tables that map some of the terms on the website to more human-readable descriptions that we're hoping to incorporate into "tool tips" or some kind of alternate text.

**Metagenome Output**
Existing entry | new text

filterStats.txt | Reads QC summary

[2021-02-13 00:06] subdavis commented on #262
Thanks!  I'll incorporate this and hopefully provide some options.

I don't know how easy it will be to match to individual data objects, but at a minimum we can have these in a table in a dialog callable from the data object list area.

[2021-02-13 00:13] kfagnan opened #263 "Incorrect heading - NCBI taxonomy name used when entries are habitats not taxonomy"
![image (1)](https://user-images.githubusercontent.com/1504015/107835048-004eb680-6d4d-11eb-8820-b12abd793eac.png)

Feedback:
not the right database for taxonomy. these are habitat names not species names

@subdavis adding you as this might be a UI issue - not sure where "NCBI taxonomy name" is coming from

[2021-02-13 00:51] kfagnan commented on #262
One more thing - see https://github.com/microbiomedata/nmdc-metadata/issues/262

This contains an image suggesting these descriptions be added to a column.

[2021-02-17 02:25] wdduncan opened #266 "GOLD geographic_location not mapping to MIxS geo_loc_name"
For some reason GOLD geographic_location field not mapping to MIxS geo_loc_name.

[2021-02-17 18:13] dwinston commented on #262
@jbeezley there is a new MongoDB collection `notes` with documents of the form
[code]
that is referenced by a new field `_note` in a `data_object_set` document, e.g.
[code]
The `_note` field has this schema:
[code]

@dehays @wdduncan The workflow, from pattern-note map definition to db update, is in [this notebook](https://github.com/microbiomedata/nmdc-metadata/blob/5f36685347d096918501c90478733d

[2021-02-17 18:19] dwinston commented on #262
@kfagnan to accommodate the left-most sticky note on microbiomedata/nmdc-server#274, we would want an additional attribute, a preferred label, to associate with a data object name pattern, in addition to associating the note.

[2021-02-17 19:09] wdduncan commented on #262
@dwinston I'm not opposed to this approach, but perhaps instead of calling it "note" could call it "tooltip" instead?

Or you can make use of annotations from the semantic web space for refining various kinds of notes. E.g.:
- comment
- definition
- label (for human readable labels)

[2021-02-17 19:30] dwinston commented on #262
@wdduncan yes, I love the move to generalized annotation for various UI contexts, so e.g. could rename to `_anno` in `data_object_set` and reference an `annotations` collection instead of `notes`? I'll leave as is for now, but can refactor once you, @cmungall, et al. decide on an approach.

[2021-02-17 20:12] wdduncan commented on #262
Let's discuss more post GSP. I've added this item to ticket #257
Given the short time span we have until GSP, I suggest we go with the approach that Kitware thinks will work best.

[2021-02-17 20:19] dehays commented on #262
I feel we are considering 1) the short term - 'have the feature for GSP' and the 2) actual solution that will require discussing how to include display strings in the JSON documents.

For now (until GSP) - I don't want to derail Brandon's intended implementation plans.

[2021-02-17 20:58] subdavis commented on #262
A version of a fix was deployed.

![Screenshot from 2021-02-17 15-56-55](https://user-images.githubusercontent.com/4214172/108267051-dd4f4880-7138-11eb-9a0f-54af4bb6c221.png)

[2021-02-17 21:26] dwinston opened #267 "scheduled, observable ETL with validation reports?"
I am thinking it could be good to set up a NERSC Spin service to run metadata ETL with the help of Apache Airflow and the Python Great Expectations library. I don't have much operational experience with these tools, but they seem like a good fit for NMDC needs and for migrating notebook-based workflows to something that is a bit more systematic and also observable (i.e. browser-based monitoring an

[2021-02-17 23:01] wdduncan opened #268 "Clean up NMDC metadata repo"
- [ ] Remove unused files and folders
- [ ] Replace schema diagram (it isn't useful ... replace with a manual)
- [ ] Update the ETL description
- [ ] Update the external sources description
- [ ] Add targets to makefile to run GOLD ETL (add CLI to python call)

cc @cmungall

[2021-02-18 00:48] #266 closed

[2021-02-18 01:01] wdduncan commented on #267
@dwinston I think have a sequence diagram like the one you've have an example of could be really helpful. I haven't used Apache Airflow. I have use [Apache NiFi](https://nifi.apache.org/), though. My experience with it was okay. A bit of a learning curve.

[2021-02-18 20:04] wdduncan opened #271 "Add CLI to run ETL from makefile"
Currently, I run the ETL from command line but I comment out certain lines when I do not want a particular ETL step to run. This is too hacky. Better to set a CLI and call the ETL workflow from the makefile.

[2021-02-18 20:59] dwinston commented on #255
Updated filter to
[code]
to reflect schema update

[2021-02-18 21:38] dehays opened #272 "add 5 Brodie samples used at EMSL but not JGI"
Looks like:

[code]

[2021-02-18 22:46] #272 closed

[2021-02-19 15:50] elishawc opened #274 "read the docs - typos and broken links"
Home - Nmdc schema (capitalize NMDC)
Home - update the language at the top to be more clear about modules
Home - remove Mixins, if not using

Identifiers - broken links (link in bold)
For example the class **OrthologyGroup**
These always have the field name **id**
All instances of **OmicsProcessing**

[2021-02-19 20:05] cmungall opened #277 "subsurface_depth"
Isee this in the latest gold conversion

[code]

multiple issues here

 - does not conform to syntax. what is unit?
 - surely we should use samp_tvdss in mixs?
 - subsurface_depth is declared as a slot, but is not an allowable slot in biosample, so why doesn't this fail json schem avalidation?

[2021-02-19 20:07] cmungall commented on #277
ah, samp_tvdss is only seawater... but either way, should map to mixs to we should request

[2021-02-19 21:02] cmungall opened #279 "metadata error - deep marine marked as coastal"
[code]

is ecosystem_subtype correct? Is there a definition for the gold term 'Coastal'?

[2021-02-19 21:38] dwinston commented on #279
There are several `/Environmental / Aquatic / Marine / \w+ / Sediment/` classification paths in  GOLD, including Coastal. When I enter "deep marine sediment basin" into [this path search tool](https://polyneme.xyz/gold-ecosystem-paths/) I built, I see a "Marine basin floor" ecosystem_subtype, which matches the sample_collection_si field above, so it seems that would be more suitable than Coastal i

[2021-02-19 23:00] wdduncan commented on #271
done. See https://github.com/microbiomedata/nmdc-metadata/pull/280

[2021-02-19 23:00] #271 closed

[2021-02-20 00:00] wdduncan opened #281 "Deploy metadata overview documentention on Mkdocs"
Put the attached metadata overview documentation on Mkdocs.

[Metadata_Documentation.docx](https://github.com/microbiomedata/nmdc-metadata/files/6013713/Metadata_Documentation.docx)

[2021-02-20 00:05] ssarrafan opened #282 "GSP - Inconsistent location information"
Search results show Ohio and Ohio, USA separately.  See attached screenshot.

Conferred with @dehays and he said that the "Ohio" strings are coming from GOLD biosample records geographic_location field.  These happen to all be for Kelly Wrighton.
<img width="656" alt="ohio" src="https://user-images.githubusercontent.com/79225425/108574423-3d2a2880-72cc-11eb-9920-d2130c7522fd.png">

[2021-02-20 00:18] #281 closed

[2021-02-23 02:16] cmungall opened #287 "Map sample-sample relationships to other standards"
we currently allow for linking between two biosamples via BiosampleProcessing

We should document this with some examples, and also map to other standards. It seems mixs will not support this https://github.com/GenomicsStandardsConsortium/mixs/issues/36

Some notes on how this is done in ebi/ncbi/dwc/ESSDIVE here:

https://docs.google.com/document/d/1Twi23xy1tI1C3YFBxQUJ-sOLaXKsPrVXO6ezcMdFuZ0/edi

[2021-02-24 01:35] cmungall opened #288 "reorganize existing repo and arrange using standard layout"
You can use https://github.com/cmungall/ontology_associations as a template

 * requirements.txt etc
 * tests/
     *  data/
 * nmdc_metadata/
      * datamodel.  ## autogenerated from schema below here
            * nmdc.py
            * core.py
            * associations.py
            * prov.py
 * src
     * schema/. ## hand edited
        * nmdc.yaml
        * ....ymp
  * jsonschema  ## autoge

[2021-02-24 01:44] cmungall opened #289 "Add metadata about ETL processes to schema and JSON packet"
* versions/dates for all upstream sources (EMSL, GOLD)
 * data on which ETL was executed
 * etc

[2021-02-26 18:45] johanneswerner opened #290 "Clarification of slots and slot_usage"
Hello,

we are trying to figure out what the fields `slots` and `slot_usage` in the yaml files represent.

Elisha forwarded us this information

We are still struggling a bit to understand the concept.

We assume that slots are fields that are part of classes, where certain slots can be overridden by class definition in different source files (for instance `collection_date` is present in `mixs.yam

[2021-03-02 20:32] wdduncan commented on #290
@johanneswerner I understand your confusion ... this is not clear from documentation.

LinkML allows you to define slots "on the fly" (so to speak) by using `slot_usage`. Unlike slots that are defined independently, slots defined using `slot_usage` cannot be shared between classes; i.e., the slots are bound to the classes.

Does that make sense?

cd @cmungall

[2021-03-02 21:03] cmungall commented on #290
Hi @johanneswerner

You can find out more about the schema language here: https://github.com/biolink/biolinkml

Each of the constructs has its own URI with documentation, for example:

https://w3id.org/biolink/biolinkml/meta/slot_usage
_the redefinition of a slot in the context of the containing class definition._

This is quite minimal so let me try more of an elucidation!

But first, I think you

[2021-03-02 21:07] cmungall opened #291 "revert simplification of sample slot values"
The changes here were made due to the need for a qucik turnaround for GSP:

https://github.com/microbiomedata/nmdc-metadata/commit/aec1e2b302305871b563504ffec9c17d6638500d

but we should revert the overrides of mixs ranges now. This is not a scalable solution long term, as many of these need to be modeled as complex objects not literals/strings. This is causing confusion: #290

[2021-03-03 00:36] cmungall opened #292 "map to isajson model"
https://isa-specs.readthedocs.io/en/latest/isajson.html

[2021-03-03 00:56] cmungall opened #293 "align with MIBIG"
note: this isn't in workplan but it should be straightforward

minimal information about a biosynthetic cluster:

https://gensc.org/projects/mibig/
https://www.nature.com/articles/nchembio.1890

example of mibig

https://mibig.secondarymetabolites.org/repository/BGC0001122/BGC0001122.json

[2021-03-03 20:59] dehays opened #294 "consistent format for EnvO references in biosample objects"
Currently - biosamples provided for use in the portal have two different forms ENVO_00000446 and ENVO:00000446

Pajau noticed that none of the Brodie or Wrighton (and as it turns out, many of the Stegen) biosamples participate in EnvO search filtering.  I checked and saw that we did seem to be including values for the MIxS/EnvO triad for all the biosamples.  Jon pointed out this morning that the f

[2021-03-04 00:51] wdduncan commented on #294
` ENVO:00000446` is correct. I thought I was converting `ENVO_` to `ENV:` in ETL. But, I must have missed that. I'll need to fix.

[2021-03-04 21:47] wdduncan commented on #294
@dehays I've resolved this. env_broad/local/medium values now have an ":" instead of "_". E.g., "ENVO:1234".

See https://github.com/microbiomedata/nmdc-metadata/pull/295

cc @dwinston @jbeezley

[2021-03-04 21:47] #294 closed

[2021-03-05 21:07] dwinston commented on #267
After trying Airflow, I think it's story is a little shaky at this point due to v2 being pretty new. Their docs for a dockerized setup had a few bugs that I needed to work around.

I'm a bit more bullish at the moment about [Dagster](https://dagster.io/), which among other features has official support for [including Jupyter notebooks with data dependencies](https://docs.dagster.io/overview/packag

[2021-03-08 17:51] jbeezley commented on #267
The only technical constraint that I know of is that you can only (currently) expose http/https services externally.  So as long as Dagster communicates through http, it should be possible.

[2021-03-17 23:53] wdduncan commented on #291
Schema changes done. See PRs: https://github.com/microbiomedata/nmdc-metadata/pull/298 and https://github.com/microbiomedata/nmdc-metadata/pull/297.

Closing for now.

[2021-03-17 23:53] #291 closed

[2021-03-17 23:55] wdduncan commented on #290
Hi @johanneswerner. I've modified the schema to make it simpler (doesn't have a lot slot_usages). Does it make better sense to you now?

[2021-03-17 23:57] wdduncan commented on #234
@jbeezley I was wanting to check on the status of this ticket. Can I close it?

[2021-03-18 00:01] wdduncan commented on #256
@pvangay I think were covered on this. Going to close. Let me know if I need to reopen the ticket.

[2021-03-18 00:01] #256 closed

[2021-03-18 16:25] jbeezley commented on #234
I don't see them in mongo yet.

[2021-03-18 17:17] wdduncan opened #299 "add missing packages to requirments"
After trying to do a fresh run/install of data translation I found the following missing packages from the requirements:

git_root
pandas
jq
dotted_dict

[2021-03-18 17:40] dwinston commented on #234
@jbeezley can you clarify the exact nature of the `omics_processing` issue? It seems that those ids are biosample ids rather than data object ids, and referenced from the has_input field, i.e.

[code]

As for the metagenome annotation activity set docs, it does seem that the has_input field references data objects, and the 42 you list are missing data objects:

[code]

I don't know why they are mi

[2021-03-18 17:51] #299 closed

[2021-03-18 17:52] jbeezley commented on #234
Yes, it appears as if the `omics_proccessing` issue has been resolved.  Now that I run the script again, I see two more missing data objects in the metaP collection:
[code]

[2021-03-18 18:11] dehays commented on #234
@jbeezley @dwinston  If I understand - the omics_processing (projects in Jon's schema) - references to Brodie biosamples (igsn ID biosamples) is no longer an issue.  Meaning those biosample docs are now there.

But there are still 42 metaG annotation and 2 metaP analysis that have has_input references to data objects that are not present.

My idea on why they are not present is that they were not

[2021-03-18 18:36] dwinston commented on #234
Here you go, @dehays . The 2 missing metaP data objects are referenced by 33 metaP analysis docs. I noted also that each metaP analysis doc has three entries in its "has_input" array.

[code]
[code]

and

[code]
[code]

[2021-03-22 17:39] dehays opened #301 "add attributes to study model"
https://github.com/microbiomedata/nmdc-server/blob/master/nmdc_server/ingest/study_additional.json

A number of study related fields are displayed in the portal UI that are not currently in the schema.  In addition to deciding what must be added, we need to consider the process by which these values are included

[2021-03-25 15:18] wdduncan opened #302 "clean up etl code"
The code base for ETL is a bit of mess ... need to clean up:
- consolidate reused blocks of code into functions
- add some minimal docstrings
- remove unused blocks of code left over from previous iterations.

The goals is not add functionality or software engineering perfection. Rather, the goal is just to make the code somewhat more maintainable.

[2021-03-25 21:27] wdduncan commented on #302
done see https://github.com/microbiomedata/nmdc-metadata/pull/303

[2021-03-25 21:27] #302 closed

[2021-03-30 16:01] #235 closed

[2021-03-30 16:02] #170 closed

[2021-03-30 16:12] cmungall opened #304 "N50 and L50 definitions are inverted"
all the definitions for slots `{ctg,scaf}_[N|L]\d+` need checked. It looks like N50 and L50 need inverted, as does N90 and L90, etc

[2021-03-30 16:41] wdduncan commented on #169
@dehays @SamuelPurvine
Trying to clean up some tickets now that GSP has passed. Can we close this ticket?

[2021-03-30 16:51] chienchi commented on #304
I think that definition is from BBtools stats.  Brian believes the proper notation should be N50=number of contigs making 50% of the assembly and L50=length lower limit of contigs making up 50% of the assembly.

[2021-03-30 17:57] chienchi commented on #304
@scanon @hubin-keio Do you have any comment?  We use bbtools to get the assembly stats. However, bbtools defines the N50 and L50 is opposite to what [Wikipedia](https://en.wikipedia.org/wiki/N50,_L50,_and_related_statistics) says.

[2021-03-31 15:29] wdduncan opened #305 "collection_date should be defined have property has_raw_value"
In `nmdc_data_source.yaml`, the biosample `collection_date` is specified as:
[code]
I should use `has_raw_value` like so:
[code]

[2021-03-31 16:01] #305 closed

[2021-03-31 18:06] #189 closed

[2021-03-31 18:07] #194 closed

[2021-03-31 18:12] #175 closed

[2021-03-31 18:13] #86 closed

[2021-03-31 18:16] #37 closed

[2021-03-31 18:23] dehays commented on #301
To clarify - this issue is about the attributes getting added (PI web sites, publications, PI image) downstream in the portal UI.  Issue #150 is about adding a relationship between biosamples and studies

[2021-04-01 13:45] jeffbaumes opened #307 "Consider ISO8601 for datetime which would be much easier to parse and validate across systems"
Basically the portal team would like to review with the metadata team the choice of this more difficult to parse datetime. If there are good reasons for this format we can keep it. If there are standard libraries for parsing these somewhat odd timestamps we should utilize them.

[2021-04-01 13:47] jeffbaumes opened #308 "Add more integrity checks on fields in JSON schema (ENVO, KEGG terms, etc.)"
There was an instance where two forms of KEGG id prefixes got into the pilot metadata so we want to guard against things like that in the future.

[2021-04-01 13:48] jeffbaumes opened #309 "Consider where to perform referential integrity checks"
Not sure where this code should lie but it should happen before ingestion into the pilot system.

[2021-04-01 13:49] jeffbaumes opened #310 "Make explicit list of fields required for portal to function, make missing entries invalidate the data"
For example, principal_investigator_name was marked optional in the JSON schema but is required for the portal to function.

I believe this involves marking more things as required in the schema, hence I'm putting this issue on the metadata repo.

[2021-04-01 13:53] jeffbaumes opened #311 "Metatranscriptiome workflow activities were incorrectly labelled"
The activities were labelled "metagenome" and this was corrected manually in the portal, but I believe this should be fixed upstream in the metadata to get rid of this naming hack.

[2021-04-01 13:54] jeffbaumes opened #312 "Currently lipidomics is being filtered out of the web client search results and vis, move filtering upstream"
Eventually this will be added back, but right now we are manually filtering. Should we filter upstream somewhere in the official metadata if it is not ready for production?

[2021-04-01 13:56] jeffbaumes opened #314 "Move PI profile images to official metadata schema"
This is currently in the portal repo. Should we consider something like gravatar? Unsure if ORCID provides public access to a profile image but that might be ideal.

[2021-04-01 13:57] jeffbaumes opened #315 "Move JSON data currently in the portal repo to official metadata"
See this file for what should probably be standardized as part of the JSON schema:

https://github.com/microbiomedata/nmdc-server/blob/master/nmdc_server/ingest/study_additional.json

[2021-04-01 14:52] dwinston opened #316 "Automation of Predefined Data Transformations"
Set up a system where people other than the author of a data transformation step can execute the step.

e.g. Wrap current predefined data transformations as steps in a Dagster workflow. Deploy the Dagster system, including web UI, to Spin, and give appropriate people permissions.

data setting/transformation currently done by
- [x] @wdduncan
- [ ] @dwinston
- [ ] @jbeezley
- [ ] @subdavis

[2021-04-01 14:53] dwinston commented on #267
Superseded by #316

[2021-04-01 14:53] #267 closed

[2021-04-01 15:32] wdduncan commented on #150
The need fo this (as explained by @dehays) is that samples from Bioscales need to be linked to the Bioscales study even though the sample have not undergone processing.

One way to do this is to use the `part of` relation:
[code]
@cmungall is this okay with you? Or do you think it is better to create another relation that directly links the sample to the study?

Another implication of this is to c

[2021-04-01 15:54] dwinston commented on #301
connects to e.g. #314

[2021-04-01 15:57] dwinston commented on #301
@jeffbaumes duplicated by #315?

[2021-04-01 16:00] dwinston commented on #150
Adding a motivating use case: I included an indexed `_study_id` in mongodb biosample docs as a hack for @jbeezley to efficiently filter for biosamples of the three studies selected for inclusion in the portal UI.

[2021-04-01 16:00] jeffbaumes commented on #315
This is a duplicate, closing.

[2021-04-01 16:00] #315 closed

[2021-04-01 20:44] dwinston opened #317 "license?"
Whether BSD 3-clause (the standard when I was at LBL), Apache 2 (clear contributor agreement w/o additional text), etc., this repo should have a `LICENSE` to be clear about *how* it is open-source.

[2021-04-01 21:31] cmungall commented on #304
just for reference this is what we have now. The body of the text for N50 references L50, and the body of the text for L50 references N50, so it looks like whatever the canonical answer we have an inversion on our part:

[code]

[2021-04-02 01:28] cmungall commented on #317
Agreed - I think a CC license is more appropriate for the schema content - include both? I favor CC-0 for schema

[2021-04-02 01:28] cmungall opened #318 "annotate schema with edam"
low priority but easy to do

annotate elements of the schema using edam:

https://www.ebi.ac.uk/ols/ontologies/edam

[2021-04-02 05:35] dehays commented on #150
FYI - the use case is more general than BioScales - though that is indeed a specific case.  In general, the decision to include samples before they have been used for any instrument processing (i.e. sequencing, LC MS/MS, etc.) means the option is to either base samples in a study (part of or other relationship) or to let sample entities exist without relationship to anything.  The former seems the

[2021-04-02 20:17] wdduncan opened #320 "Change biolinkml dependency to linklml"
`biolinkml` has moved to `linkml`. Need to change this dependency for generating artifacts.

cc @cmungall

[2021-04-03 01:33] cmungall commented on #150
This is good with me

I would use a different field name though. What does obi say?

On Thu, Apr 1, 2021, 08:32 Bill Duncan ***@***.***> wrote:

[2021-04-03 02:50] wdduncan commented on #150
I'm not sure what OBI would say. In NMDC, we provide the description:
[code]
I think this would map to OBI's [study design](http://purl.obolibrary.org/obo/OBI_0500000):
[code]
So, I think you need to relate the sample to `study design` via number of entities:
- the `plan` that `concretizes` the `study design`
- the [study design execution](http://purl.obolibrary.org/obo/OBI_0000471) that `realizes

[2021-04-03 15:03] wdduncan commented on #317
I thought @kfagnan was looking into licensing? We brought this up a while ago (sometime last year) on the weekly calls.

[2021-04-03 15:06] wdduncan commented on #288
Update:
Create new repo to hold the nmdc schema: https://github.com/microbiomedata/nmdc-schema

cc @cmungall @dwinston @dehays @kfagnan @jbeezley @ssarrafan

[2021-04-05 05:12] chienchi commented on #304
commit 6c4ed99

[2021-04-05 17:12] dehays commented on #314
I don't see anywhere to include an image to a profile in ORCiD so I'd guess we can't get researcher images from there. Gravitar - maybe in cases where someone uses Wordpress or something else that caused them to add an avatar to Gravatar.

The PI profiles for the initial FICUS studies were very manually provided.  I think the best the schema can do here is provide an optional attribute for an imag

[2021-04-05 21:11] kfagnan commented on #317
Yep, thanks for surfacing this again. I actually asked Set to assign this to me as an action for this sprint. IPO has indicated we can use the Apache license.

We actually got a bit held up by one license for NMDC or different licenses for different facets of the project. We can proceed either way. However, there are some aspects of the workflows we should not distribute because the 3rd party soft

[2021-04-05 21:26] jeffbaumes commented on #314
Agree, a URL would work fine and may be what we want to stick with at least near-term. Submitters could use the URL of their gravatar if they are savvy enough to do so I suppose. The important thing is to get it into the schema and not hard-coded in the client.

[2021-04-05 21:30] jeffbaumes commented on #314
@jbeezley could you get a PR together to add an image URL added to the PI schema? We could just point current PI urls to our server for now, which is maybe not ideal but at least the PI info would be upstream. I expect the current mapping of PI to image URL could also be placed in the PR and used in the scripts that pull together that JSON from our current dataset.

@wdduncan could you point us to

[2021-04-05 21:51] #317 closed

[2021-04-06 13:24] jeffbaumes commented on #308
@wdduncan I assigned you and @jbeezley to this one. When ingesting annotations, we need to make sure the schema validates only valid ids (e.g. ENVO, KEGG, etc.) and I believe some regexes on the schema would help here. Could you help us figure out where to add these?

[2021-04-06 13:25] wdduncan commented on #308
Thanks @jeffbaumes
Can you post some examples of the bad data?

[2021-04-06 13:26] jeffbaumes commented on #309
@wdduncan Also assigning you and @jbeezley to this one. Similar question, but I don't believe we can do this check in the schema. Where should we put non-schema validation code?

[2021-04-06 13:31] wdduncan commented on #314
@jbeezley I am pulling the principle investigators name from the `contact` table in GOLD. To add this info to my ETL, I think I might have to add another table to the ETL ingest. Might be easier to have a call about how to best do it ...

[2021-04-06 13:32] jeffbaumes commented on #311
This one has to do with the names given to analysis activities. Are we able to name the workflow actions differently for metaG and metaT for clarity? The activities in question are "Metagenome assembly XXXXX_XXXXX" (should have a name like "Metatranscriptome assembly XXXXXX_XXXXX" for metaT) and "MetagenomeAnnotation activity for gold:GpXXXXXXX" (should have a name like "MetatranscriptomeAnnotatio

[2021-04-06 13:34] wdduncan commented on #309
Thanks @jeffbaumes !

Adding @dehays, @cmungall , and @dwinston to this tickets. This gets into larger issues ...

[2021-04-06 13:35] jeffbaumes commented on #308
I believe there was an issue where function IDs sometimes came through with prefix `KO:` and sometimes came through with prefix `KEGG_ORTHOLOGY:`. A regex in schema validation could catch things like this. Basically if any ID should match a regex we should put a regex in the schema. @jbeezley may have further thoughts here.

[2021-04-06 13:51] jeffbaumes commented on #312
@dehays if we will be bringing lipidomics back online, we may not need to address this in the near term. We can wait for the data to be ready and just remove the special checks in the client at that point. Any insight here?

[2021-04-06 13:56] jeffbaumes commented on #301
I believe a conversation about what is in this JSON between @jbeezley and @wdduncan could start to address this.

[2021-04-06 13:59] jeffbaumes commented on #307
@cmungall Since this is such a far-reaching question on what we have as our consistent datetime format, I'm assigning to you to chime in. Should we stick with the time format we have? Is it inherited from something else like MIxS?

[2021-04-06 14:41] jbeezley commented on #314
We can't use a URL from our server because I store the data as a binary blob in the database.  It also depends on the uuid of the principal investigator row.  Perhaps we could base64 encode the data and put it in the provided study json?  For reference, the images used are stored in https://github.com/microbiomedata/nmdc-server/tree/master/nmdc_server/ingest/pis.

[2021-04-06 15:25] StantonMartin opened #321 "For discussion: nitro and tot_nitro_content for schema"
The initial Bioscales FAIR data mapping included the parameter nitro as it's MixS term.  This would not validate against the schema because it is not included. Subsequently the Bio Scales team noted the
tot_nitro_content parameter in the schema and changed its mapping.  So there is no  current issue.  Question for NMDC, should the schema include the term nitro as well as tot_nitro_content since th

[2021-04-06 15:50] jbeezley commented on #314
Gravatar would be a good alternative, but we don't necessarily get email addresses from ORCiD's.  I checked some of our existing PI's and they don't make email public.

[2021-04-06 16:31] dwinston commented on #316
I'm working on a prototype at <https://github.com/polyneme/nmdc-runtime>.

If it goes well, I can transfer repo to this org or merge functionality into nmdc-metadata repo.

[2021-04-06 20:32] jeffbaumes commented on #314
Would it be reasonable to support both with allowing either a URL or [data URI](https://css-tricks.com/data-uris/)? As long as it is validated as one or the other, we could safely pass this through to the `img` `src` attribute and it would work in either case.

[2021-04-06 21:30] dwinston commented on #314
@jeffbaumes I'd rather there by only one (external URL) versus two modes. It should be no more difficult to supply a URL for a profile image than for a data object.

On the topic of offering use of a Gravar image, I think that can be convenient, but should be opt-in somehow. Some PIs may have gravatar images from a decade ago that they have forgotten about and would prefer not to use.

[2021-04-07 12:45] jeffbaumes commented on #314
You could think of my suggestion as actually only one thing: provide a [URI](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier) to an image. It just happens there are multiple types of URI we could support fairly easily. They could be handled identically start to finish, with no extra logic anywhere to support them other than a more complex regex for validation, so I'm not seeing much down

[2021-04-07 14:42] wdduncan commented on #314
All these ideas are fine with me, but where in the ETL do we insert the URL/URI? I can do it on my end by simply having a file that gives the URI for each investigator in the `contact` table. However, this won't work for investigators that not registered in the GOLD database.

[2021-04-07 16:24] StantonMartin commented on #307
I fully support doing this. There are a number of ISO 8601 formats which can be used.  We will also need to be explicit about which version. I believe the latest is ISO 8601-2:2019

[2021-04-07 16:37] dehays commented on #311
I'd like to get @scanon @emileyfadrosh input on this.  The issue is that while we differentiate at the omics_processing level (DNA was sequenced or RNA was sequenced), the assembly and annotation are the same analysis workflow.  At one point Emiley had suggested calling the analysis simply "Annotation" because both metaT and metaG use the same analysis workflow.  I'd like Emiley to indicate how th

[2021-04-07 17:02] jbeezley commented on #314
We can make it optional and on the portal show a placeholder image.  A lot of these questions on what to make required (#310) depend on features needed for the portal and what we are willing to leave blank.

[2021-04-07 17:59] jbeezley commented on #310
I went through the [generated schema definitions](https://github.com/microbiomedata/nmdc-metadata/blob/master/schema/nmdc.py) and assembled a list of attributes that are generally assumed to be present by the pilot application.  Several attributes are additionally required for ingest either because of referential integrity or because they represent non-nullable fields in the database.  I have mark

[2021-04-07 18:01] dehays commented on #308
Didn't see the KEGG case, but this is the same as the ENVO case in #294 - @wdduncan  The request here is to identify fields for which the raw value must conform to a regex and then do that validation.  Looks like JSON Schema can do that ( https://json-schema.org/understanding-json-schema/reference/regular_expressions.html ) but that doesn't mean that the JSON Schema that gets generated in NMDC can

[2021-04-07 18:12] jbeezley commented on #307
After looking at some of the logic of biolinkml and the generated schemas, this might be a more broad issue.  The schemas for attributes generally contain a `has_raw_value` which is meant to contain the original (non-normalized) value.  This is what I'm getting in `lat_lon` for example: `"has_raw_value": "10.1 120.33"`.  The [`GeolocationValue`](https://github.com/microbiomedata/nmdc-metadata/blob

[2021-04-07 20:48] wdduncan commented on #321
Can you please file ticket on the MIxS tracker: https://github.com/GenomicsStandardsConsortium/mixs/issues

[2021-04-07 20:56] StantonMartin commented on #321
Done.

https://github.com/GenomicsStandardsConsortium/mixs/issues/122

Closing

[2021-04-07 20:56] #321 closed

[2021-04-08 05:58] dehays commented on #312
@jeffbaumes AFAIK lipidomics will be back once there is a lipidomics analysis workflow.  But in general, I'd prefer the client ingest not need to do any special filtering.  The tagging discussion earlier was a bit rushed - I'd like to speak more with Donny about that with the goal being the ingest against each Mongo collection retrieve documents with a specified tag.  Seems cleaner than ' give me

[2021-04-08 17:42] #12 closed

[2021-04-08 17:43] #147 closed

[2021-04-09 17:28] dehays commented on #307
We had consensus that ISO 8601 should be used for all datetime.

Further - the nmdc-schema should have a single ISO 8601 conformant string value and no raw value, and the nmdc-schema should regex validate the value.  The responsibility for transforming sources to ISO 8601 conformant values lies with the ETL (at least presently in the GOLD as source case).  There is agreement that transforming date

[2021-04-09 18:09] dwinston commented on #316
I'm setting up a demo deployment for @dehays et al. to play around with, with example dagster components (pipeline, solids, sensor) that set schema and instance data for a database. I plan for this to be live by this upcoming Wednesday 2021-04-14.

[2021-04-09 18:28] dehays opened #322 "add a schema version on releases of NMDC schema"
We discussed using semantic versioning or simply a time stamp on release versions.  Either could work, to avoid needing to define the semantics of semantic versioning (does minor or patch break ingest or only major?) we decided time stamp release versions was simplest.

With versions on the schema it becomes possible to ask what schema version the metadata store (MongoDB or Terminus) is at and wha

[2021-04-09 19:18] dehays commented on #314
Moving to nmdc-schema to add optional pi_image_url slot

For the studies we currently have (12 FICUS) - will need to put image files on NERSC and manually set them in metadata - there is no standard source for these images so I don't see a way the GOLD ETL can set these

@wdduncan Question on implementation - an image_url on the person entity seems correct to me.  Then study would refer to the PI

[2021-04-15 15:00] dwinston commented on #316
I now have an initial demo deployed (URL in slack portal-etl channel), which is reproducible locally via docker-compose (see README of https://github.com/polyneme/nmdc-runtime).

[2021-04-15 19:54] jeffbaumes commented on #310
@wdduncan could you review these attributes and make sure they are required in the schema?

[2021-04-15 20:05] jeffbaumes commented on #311
In an email thread @emileyfadrosh indicated these should be specified/named differently in the analytic workflows. This requires a change in the schema by @wdduncan and a change to the pipeline by @scanon. Then @jbeezley needs to change the ingest.

[2021-04-15 21:39] ssarrafan commented on #310
Based on meeting today I'm moved to "in progress".

[2021-04-15 21:46] ssarrafan commented on #311
@scanon and @wdduncan is this something that can be done in the next week or two or should it be moved to a future sprint?

[2021-04-16 15:54] wdduncan commented on #288
Update:  You can now install the nmdc-schema using pip: `pip install nmdc-schema`.

There is still a lot of documentation work to do.

[2021-04-16 15:56] wdduncan opened #323 "run/test etl using pip nmdc-schemal package"
The nmdc-schema is now a pip package.

Need to test/run the GOLD etl pipeline using the nmdc-schema package.

[2021-04-16 17:35] jagadishcs opened #325 "Mapping/subsetting of EnvO terms specific to MIxS environmental packages"
@elishawc @dehays @ssarrafan @TBKReddy

Mapping of EnvO terms with specific MIxS environmental packages, so that subset of EnvO terms can be used as CV terms for NMDC by MIxS environmental packages.

[2021-04-16 19:17] dwinston commented on #316
@jbeezley @dehays I'm drafting an API resource layout to provide indirection over dagster+terminus for data access, as we discussed. See <https://github.com/polyneme/nmdc-runtime/blob/main/docs/design/api-resource-layout.md> for the beginnings of an API surface for long-running (i.e. more than a few seconds) operations and for (JSON) document import/export on top of that. I anticipate this approac

[2021-04-16 19:20] wdduncan commented on #311
@scanon do you need a schema change for this?

[2021-04-16 19:21] wdduncan commented on #301
@ssarrafan can you move this to the next sprint?

[2021-04-16 21:18] ssarrafan commented on #301
It's been moved to the May sprint.

[2021-04-16 21:37] ssarrafan commented on #325
Hi @jagadishcs,
I've added this issue to the April sprint and Sprint 1 milestone.

[2021-04-16 22:19] #323 closed

[2021-04-22 14:57] wdduncan commented on #288
Outcomes from conversation with @dwinston:

1. rename the repo `nmdc-metadata-pipelines`; used for orchestrating different pipelines such as GOLD
2. tag versions with releases

structure:
nmdc-pipelines
  - target (used for outputs of pipelines) or should this be in data output
  - resources (used for inputs into pipelines; e.g. GOLD database dump)
       - data source
       - data sync
       -

[2021-04-22 20:54] ssarrafan commented on #309
@wdduncan Can the "larger issues" be broken down into smaller chunks?  Let me know if I should create additional GitHub issues related to this.

[2021-04-22 21:17] dehays commented on #309
I agree with two things @jeffbaumes is saying here:  1) Ingest into the search application should not have responsibility for dealing with referential integrity as it does now.  This should happen upstream. 2) I don't think this can be done in the schema.  The schema can require that the was_informed, has_input, had_output have values but I don't think the capability is there to guarantee the exis

[2021-04-22 21:26] jeffbaumes commented on #307
@dehays @wdduncan What do you think about this issue? I think it's great that we have consensus here but implementing the changes in the portal might take a bit of effort. Should we push to the next sprint? I reassigned to you @dehays since I don't think this needs @cmungall input anymore.

[2021-04-22 22:05] wdduncan commented on #307
The current fields with datetime values (e.g. `add_date`, `mode_date`) are pulled of the data source "as is". This what the `has raw value` slot holds. I can do some clean up / normalization during ETL. I think it would help if we prioritize which fields this is needed for.

As for pushing to the next sprint, I vote "yes".

[2021-04-22 22:48] dwinston commented on #316
update: repo has been migrated to this org, i.e. <https://github.com/microbiomedata/nmdc-runtime>.

I have dagster successfully connecting to local (for development) and remote (for production) MongoDB and TerminusDB resources, so the groundwork is in place to wrap existing/modified/new data transformations in dagster decorators (python decorators, e.g. `@pipeline`) and run them with monitoring. I

[2021-04-23 18:53] ssarrafan commented on #325
@jagadishcs is there any update on this issue?  Can it be moved to "in progress"?

[2021-04-23 21:23] pvangay opened #327 "Updating Lat/Lon for Brodie"
Latitude and longitude for the Brodie dataset in the NMDC has limited significant digits (4 places after the decimal). I found the metadata for these samples from ESS DIVE ([WatershedSFA_SoilCores_IGSN_Metadata.xls](https://github.com/microbiomedata/nmdc-metadata/files/6368141/WatershedSFA_SoilCores_IGSN_Metadata.xls)) which show the lat/lon with 9 places after the decimal. This is likely an artif

[2021-04-23 21:41] wdduncan commented on #327
Thanks for pointing this @pvangay.  If the data makes its way into GOLD, I can easily rerun my ETL or perhaps @dwinston can do an update? I don't know how difficult it would be updated the GOLD data and produce a new GOLD dump. Perhaps @jagadishcs or  @TBKReddy can provide some insights here.

[2021-04-23 21:57] dehays commented on #325
This is in progress.  This week's A1 meeting slot was used to plan for addressing subsetting EnvO terms by MIxS package and next week's 4/28 meeting is dedicated to @jagadishcs @cmungall @wdduncan and @elishawc  doing this for the soil package.

[2021-04-24 05:27] dehays commented on #307
@jeffbaumes @wdduncan  I feel like there is agreement on what is intended, but implementing in the ETL and then the portal is work to be done.  Moved this to the May sprint.

[2021-04-26 01:50] TBKReddy commented on #327
@pvangay, there is no artifact or limitation as such in GOLD that limits lat/long to four places after decimal. This is how the data arrived/submitted to GOLD.

Yes we can update these values in GOLD now. There is already a process under way by NMDC to reach out to the PIs to seek additional metadata and get existing metadata updated. These lat/long values can be updated as part of that and then t

[2021-04-26 14:28] pvangay commented on #327
Thanks for clarifying @TBKReddy.

Does it make more sense to update those values in GOLD, then have NMDC pull from GOLD? Or just update in both locations? I don't know the answer to this and hope those watching this issue will decide. @mslarae13 will let Eoin and his group know about the updated values from ESS DIVE when ready. Thanks all.

[2021-04-26 16:06] dwinston commented on #327
@wdduncan @TBKReddy are there any encoding issues we may need to be careful about in GOLD or in the NMDC ETL?

I notice, for instance that the NMDC schema lat/lon numeric properties both have a range of "decimal degree", which is [rightly identified](https://github.com/microbiomedata/nmdc-schema/blob/5a5e52f9d7198fb10f1af77a2487d9d966cbd636/src/schema/core.yaml#L53) as the `xsd:decimal` type for a

[2021-04-27 00:05] TBKReddy commented on #327
@pvangay we will update these values in GOLD and then NMDC will pull these updates during the next data dump.

@jagadishcs will be checking with the PIs about some other metadata. I think they indicated updates to sample collection date. All these will be updated together in GOLD.

[2021-04-27 02:02] mslarae13 commented on #327
@TBKReddy @pvangay
I just want to confirm before I email Eoin. We are updateding the lat_long in GOLD, which will then by proxy update the information in the NMDC. And we're doing this to reflect the more accurate lat_long provided to ESS-Dive.

Correct?

[2021-04-27 20:23] ssarrafan commented on #308
Moving to May sprint per Bill's request and adding Large size label.
Comment from Bill:
 I need to investigate how to use regular expressions in jsonschema to validate data. So, I will give an estimate of one week, but the issue is quite open ended. The only use case of KEGG_ORTHOLOGY. I imagine there are other use cases.

[2021-04-27 20:30] ssarrafan commented on #309
Moved to May sprint per Bill and added @dwinston as an assignee.

[2021-04-27 20:52] dwinston opened #328 "error(s) running `make build-merged-db`"
I get a
[code]
From [this call site](https://github.com/microbiomedata/nmdc-metadata/blob/60898d379ad60d3fd2a1fca374cf417cec48974f/metadata-translation/src/bin/lib/nmdc_dataframes.py#L111).

It looks like this `pandas` function accepted and ignored unknown keyword arguments until version `1.1.x`, which was released on 2020-07-28.

I'm able to get past this error if I `pip install "pandas<1.1"`. Ho

[2021-04-27 22:46] ssarrafan opened #329 "FICUS follow up and next steps"
This issue is to document the work that Montana has been doing in April.

[2021-04-27 23:32] ssarrafan opened #330 "Finalize scope and strategy for metadata enrichment"
Chris and/or team to review milestone 1.4 and finalize the scope and strategy around metadata enrichment.  Additional tasks can be created based on the strategy and scope.

[2021-04-28 00:54] #328 closed

[2021-04-28 16:46] ssarrafan opened #332 "Further develop, finalize requirements for metadata submission process/portal"
This issue is to track the requirements for metadata submission process and/or portal for NMDC.

There are some requirements from 2020 to start, the goal is to revise and iterate on those and get sign-off from NMDC leads to move forward.

[2021-04-28 17:51] ssarrafan opened #333 "Bioscales data for additional samples, metadata for portal"
This issue is to track the additional samples for Bioscales and getting that metadata into the portal

[2021-04-28 17:52] ssarrafan commented on #333
David mentioned he'd follow up with Stan on this at the implementation leads meeting so adding them to this issue.

[2021-04-28 17:54] ssarrafan opened #334 "FICUS metadata collection and communication"
Collecting any additional metadata before wrapping this up.

[2021-04-28 17:56] ssarrafan opened #335 "FICUS metadata processing"
This issue is for processing the metadata for FICUS studies

[2021-04-28 18:36] dwinston commented on #316
update: @wdduncan's GOLD ETL pipeline is now [wrapped for dagster](https://github.com/microbiomedata/nmdc-runtime/blob/e21c011b64f946237b65b9dfa63204de5c2b025e/nmdc_runtime/solids/jgi.py#L19) in the nmdc-runtime repo.

[2021-04-28 19:55] cmungall commented on #308
Sorry just saw this now. I think this should be straightforward.

There are different levels of checks

 1. Is the ID prefix valid? (e.g. KEGG.KO vs KEGG.ORTHOLOG)
 2. Is the local part of the ID syntactically conformant? (e.g. KEGG:K\d+)
 3. Is the ID valid and appropriate?

The first is very easy to do with using the existing `id_prefixes` annotated in the schema

The second we can do by adding

[2021-04-28 21:53] dwinston commented on #316
This issue is too large. I am closing it with the intention of creating new, more tightly scoped issues that address the subject.

[2021-04-28 21:53] #316 closed

[2021-04-29 16:26] wdduncan commented on #325
We need to close this issue, and break it up into separate issues for each mixs package.
Each package will be addressed in the May sprint.

[2021-04-29 16:28] wdduncan commented on #288
Please move this to May sprint.
@dwinston and I are getting close to finishing this. Probably a `medium` sized issue.

[2021-04-29 16:31] #325 closed

[2021-04-29 16:37] wdduncan opened #336 "subsetting of EnvO terms specific to MIxS soil package"
Create a subset of terms for use in the MIxS triad to use with soil package submissions.

process:
- use sparql query to extract subset of terms from the biome and astronomical body part hierarchies
- produce a TSV / google sheet for review

cc @cmungall @dehays

[2021-04-29 17:12] dehays commented on #312
Moving this to the May sprint.  Lipidomics is a specific case of a larger issue that has two parts.

1) The one that I was suggesting a git tag sort of solution for is in defining sets of metadata.  So ingest could specify a tag and get a subset of metadata.  Those subsets could be defined in multiple ways a) related to some set of studies b) specific types of documents (i.e. exclude lipidomics om

[2021-04-29 23:12] pvangay commented on #262
@subdavis - here's the promised content! I hope this is the right place to put this. And sorry, as I was writing some of this out, I realized I might be asking for more features - let me know if they need to go into their own issues. Please correct the text if this is not indeed what it represents.

Visualization | Help icon pop-up text | Notes for Kitware
-- | -- | --
![image](https://user-images

[2021-04-29 23:59] subdavis commented on #262
Thanks, I'll get these updated soon.  I think many of the items from our meeting today will spin off other issues. We're planning to get those in order at our next internal planning meeting.

[2021-05-03 23:14] ssarrafan commented on #329
@mslarae13 you mentioned you wanted this in the April sprint since you were working on it. Can this issue be closed?  Or would you like me to move it to the May sprint?

[2021-05-04 03:58] mslarae13 commented on #327
We are holding off on sending an email. Elisha is coordinating with each of the 3 PIs from the GSP push to establish their data landing pages. At this meeting we will slate some time to confirm sample metadata for all 3 projects & inquire about Brodie depths & lat-long.

[2021-05-04 15:51] ssarrafan opened #337 "SFA - Confirm metadata template design & gather feedback on usability"
This issue the the next step in the development of metadata templates for new sample environments.

[2021-05-05 17:57] wdduncan commented on #307
@jeffbaumes I can do for the GOLD fields that I process. Do you happen to have a list of the fields you need to be converted?

[2021-05-05 18:04] jbeezley commented on #307
I think it should be validated for any date/datetime field in the schema.

[2021-05-05 19:19] wdduncan commented on #307
@jbeezley it would help if you had a list of the fields of the fields that you were especially concerned with.

[2021-05-05 19:36] jbeezley commented on #307
This is primarily about validating that the data is correct.  According to the [schema](https://linkml.github.io/linkml-model/docs/Datetime/), datetimes should be provided as [xsd:dateTime](http://books.xmlschemata.org/relaxng/ch19-77049.html) which is defined as ISO 8601.  If that validation is not occurring for all datetime fields, I would classify it as a bug in the schema code.

[2021-05-05 20:02] wdduncan commented on #307
@jbeezley I understand that. I have to write a script to transform the values. The only data types I have to work with are strings (i.e., all the data in the GOLD dump are strings). Moreover, many fields are empty (the data can be very sparse). So, I was just wondering if there were certain fields that were causing you problems so that I could prioritize tasks to suit your needs.

We already ident

[2021-05-05 20:10] jbeezley commented on #307
My ingest goes to great lengths to recognize a wide array of datetime formats, so I don't have the information myself.  I would think if the validation were performed correctly, then getting that information from the errors emitted would be straightforward.

[2021-05-05 20:41] pvangay opened #343 "Update Brodie dataset citation text"
Update the dataset citation on [Eoin's landing page](https://data.microbiomedata.org/details/study/gold:Gs0135149) to:
Sorensen, P., Brodie, E., Beller, H., Wang, S., Bill, M., & Bouskill, N. (2019). Sample Collection Metadata for Soil Cores from the East River Watershed, Colorado collected in 2017 [Data set]. ESS-DIVE. https://doi.org/10.21952/WTR/1573029

@dehays should this edit be done further

[2021-05-05 20:58] dwinston commented on #307
@wdduncan the only other one I notice at a glance is the database object's date_created slot.

biosample collection_date, extreme_event, fire, and flooding are already annotated to be timestamp values. I'm not sure why the latter three are timestamp values, but I guess that's MIxS?

@jbeezley FYI the issue is upstream of validation because add_date and mod_date currently have assigned ranges of `x

[2021-05-05 23:16] mslarae13 commented on #329
It's still active. I think we should move it to May. And provided users are quick to respond it should be finished in May.

[2021-05-05 23:46] kfagnan commented on #301
Was the suggestion at today's TechSync to divide this ticket up?

It would be nice if there were default values or placeholders for fields that we know we want to show up on the portal - even if we don't have the data. The route in for the data definitely needs to be sorted out - as David pointed out.

It would also be nice to give the users a way to upload this content, but that can be down the r

[2021-05-06 23:52] pvangay opened #342 "Updates to Wrighton metadata"
@mslarae13 and I met with Reb Daly from the Wrighton group today to review their data in the portal.

### **Sample names need to be renamed to something that is not the Proposal name.**
Suggest using IDs of some sort. This is misleading because not all samples are "deep subsurface shale", which just happens to be the name of the proposal.

### Can we reclassify these samples into their correct env

[2021-05-07 15:02] wdduncan commented on #336
@mslarae13 @elishawc @jagadishcs @turbomam
I have created some preliminary files on the [nmdc-ontology](https://github.com/microbiomedata/nmdc-ontology) repository. The files are located in the [subset-files](https://github.com/microbiomedata/nmdc-ontology/tree/main/subset-files) directory.

These files contain terms as values for `env_broad_scale` (aka `biome`).
- [terrestrial-biomes.tsv](https:/

[2021-05-07 15:33] wdduncan opened #338 "update biolink requirement to linkml"
In the Pipefile, the biolink requirement needs to be changed to linkml.

Note: also need to regenerate requirement.txt and requirement-dev.txt files.

[2021-05-07 16:17] wdduncan commented on #338
Done. See https://github.com/microbiomedata/nmdc-metadata/pull/339

[2021-05-07 16:17] #338 closed

[2021-05-07 18:32] ssarrafan opened #341 "Change set of EMSL datasets used in NMDC (was 'Portal metabolomics results not displaying Eoin Brodie's study')"
@dehays and I were looking at the portal and noticed that there is a problem with displaying metabolomics samples when searching on Eoin Brodie's study.  See attached screenshot.

<img width="1340" alt="Screen Shot 2021-05-07 at 11 16 27 AM" src="https://user-images.githubusercontent.com/79225425/117493435-d5c56180-af27-11eb-8ba7-1bc9304ae653.png">

[2021-05-07 18:37] ssarrafan commented on #312
Moved this to scoping per discussion with @dehays

[2021-05-07 18:42] dehays opened #340 "Brodie Biosample names missing local names after merging DNA and RNA GOLD biosamples"
The primary issue here is that the biosample names (which originate from GOLD) are truncated in the search portal.

Eoin Brodie pointed out in a call yesterday that there was no way to differentiate between the different samples in the UI because the part of the biosample name that is different - has been truncated.

For example,  GOLD appears to build the biosample name by appending the local sam

[2021-05-07 19:09] mslarae13 commented on #329
Next steps and follow ups completed. Waiting on response from a few PIs. see: https://github.com/microbiomedata/nmdc-metadata/issues/334

[2021-05-07 19:09] #329 closed

[2021-05-07 19:10] mslarae13 commented on #337
Note:
- SFA and NCBI template being reconciled & combined
- MIxS terms needed for soil packages that can be settled using plant_assoc terms
-

[2021-05-07 19:43] dehays commented on #340
@wdduncan  It appears that this biosample name truncation is happening in the ETL.  The example above is truncated at 103 characters. (Maybe when you load from Oracle to your local DB?)

[2021-05-07 23:01] mslarae13 commented on #337
GSC ticket: https://github.com/GenomicsStandardsConsortium/mixs/issues/133

[2021-05-10 22:01] wdduncan commented on #340
The json that I output has more data than what is shown above. Here is the json for one Brodie's (`Gs0135149`) study biosamples (note the name has ** - ER_DNA_115**).
[code]
The name matches what is on the GOLD portal for biosample `Gb0191643` (see screenshot).
![image](https://user-images.githubusercontent.com/3186638/117729203-85b0fe00-b1b8-11eb-907c-9520f0c0f407.png)

[2021-05-10 23:19] jbeezley commented on #340
Some do have that extra text some don't.  These are the entities in question:
[code]

[2021-05-11 14:33] pvangay commented on #341
FYI this looks like a duplicate of https://github.com/microbiomedata/nmdc-server/issues/333

[2021-05-12 19:43] mslarae13 commented on #337
Updated version of template : https://docs.google.com/spreadsheets/d/1iuCyMjef97wl_Lsu1B9R4zAqrR7gfwftNKvx8LZnbW4/edit?usp=sharing

@jagadishcs : Do you have GOLD paths for sediment, plant, and water?

[2021-05-12 20:37] wdduncan commented on #336
Following Aim 1 call on May, 12 2021, team wants to review a all terms in MIXS triad parts. I.e.,
- for `env_broad_scale`: biomes, environmental zones (i.e., immaterial entities), environmental systems
- for `env_local_scale`: add human construction, environmental condition
- for `env_medium`: all environment materials (not just soil)

[2021-05-12 22:53] jagadishcs commented on #337
@mslarae13
Please refer to the [mapping](https://docs.google.com/spreadsheets/d/1J7cwpwOgxCXD8F_rzbvVoETrNIoaHwvAZN-Ki8i3Ku8/edit#gid=1487521647) of GOLD ecosystem classification paths with MIxS environmental packages. This file contains all of the GOLD paths (as on March 18, 2021) mapped to MIxS packages.

[2021-05-13 00:39] mslarae13 commented on #337
Thanks @jagadishcs ! Next question, when you developed the drop down lists for the FICUS project metadata template for soil fao_class, tillage, horizon, ect... did you just use the MIxS terms  that were listed as options? Or did you curate anything yourself?

[2021-05-13 01:20] jagadishcs commented on #336
@wdduncan
@cmungall
@TBKReddy

I suggested the inclusion of additional class of EnvO terms only for the **env_local scale**.
I did not suggest any changes to env_broad_scale and env_medium.

For the MIxS field of _env_local_scale_, EnvO terms under the following classes shall be included and reviewed along with EnvO terms under **astronomical body part** and **manufactured product**:

- environmen

[2021-05-13 01:25] jagadishcs commented on #337
@mslarae13
For all of the MIxS CV fields, I just used the terms that are provided in the specific MIxS packages & specific fields.

[2021-05-13 20:48] ssarrafan commented on #342
@dehays I was discussing this with @pvangay  and we added it to the sprint to see if it can be worked on since it will help with some of the other portal related fixes.  Let us know if it shouldn't be in this sprint or if it should be assigned to someone else.

[2021-05-13 22:28] wdduncan commented on #288
Update

I have removed number of directories. See PR https://github.com/microbiomedata/nmdc-metadata/pull/344 for details (or view repo on branch `issue-288`).

Awaiting feedback before merging.

[2021-05-14 06:17] mslarae13 commented on #337
Version update:
NMDC: https://docs.google.com/spreadsheets/d/1Glb9pWmV5H9UrI_oeC-eMxvzzmZKGALjh2FL-uRWI_o/edit?usp=sharing

NCBI-NMDC:  https://docs.google.com/spreadsheets/d/1EErq7CmBJ7779qAt8ysnN_zpOgxxvwPxEEsSXDXCuOw/edit?usp=sharing

[2021-05-14 18:29] mslarae13 commented on #334
Update:
Colwell:  Responded with metadata, but no sample map
Hess: Will follow up early June
Neumann: Sent response, on Montana's to do list to follow up

No one else has responded. June 17th I'll send a follow up email stating we're planning to complete these projects the end of June, and if they're interested in being part of the next set of data searchable via NMDC, we will need the metadata an

[2021-05-17 21:21] wdduncan commented on #288
A number of directories have been deleted. See PR https://github.com/microbiomedata/nmdc-metadata/pull/344

The schema has been moved to [nmdc-schema](https://github.com/microbiomedata/nmdc-schema).
The ETL now lives in [nmdc-runtime](https://github.com/microbiomedata/nmdc-runtime).
The custom notebooks that were created in the early stages of `NMDC` have been archived to [archived-metadata-notebo

[2021-05-17 21:21] #288 closed

[2021-05-18 18:44] elishawc opened #345 "Sample Metadata Training materials"
Develop slides and activity for community training sessions related to sample metadata

[2021-05-18 18:45] elishawc commented on #345
Shared "final" draft slides with broader training community representative for feedback and discussion around next steps. Slides here: https://docs.google.com/presentation/d/1hs9OROPTuB6ZUXTvmAj9hihGYlQ1XLkhNWF4rnBDSC8/edit?ts=60a34533#slide=id.p1

[2021-05-18 22:47] ssarrafan commented on #312
Based on the meeting today with @dehays, @emileyfadrosh, @dwinston, @wdduncan, and @jbeezley the remaining work for this sprint for this issue will be
- [ ] EMSL team to draft/finalize business logic for metabolomics, metaproteomics data. Per @dehays, @corilo may have the appropriate filters already.
- [ ] JGI team to draft/finalize business logic for metagenome and metatranscriptome data. @emiley

[2021-05-18 22:57] ssarrafan commented on #309
Based on the meeting today with @dehays, @emileyfadrosh, @dwinston, @wdduncan, and @jbeezley I'm closing this issue.  We had the discussion to consider where to do referential integrity checks. The plan is to update the NMDC schema by adding required fields needed (will create a ticket for @wdduncan) and to apply a rule that uses the updated schema changes and applies I to the database (will creat

[2021-05-18 22:57] #309 closed

[2021-05-18 23:40] pvangay commented on #263
@kfagnan actually... NCBI's taxonomy includes a bunch of XYZ metagenomes! Going to close this issue for now. https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=408169

[2021-05-18 23:40] #263 closed

[2021-05-20 02:10] TBKReddy commented on #279
Reported biosample now showing marine basin floor as the ecosystem subtype.
All other biosamples under this study have marine basin floor (or other relevant values) and none showing coastal for ecosystem subtype anymore.
https://gold.jgi.doe.gov/biosamples?page=1&Study.GOLD+Study+ID=Gs0133461&Study.Relevance.ID_options=or&Biosample.Ecosystem+Type=Marine&count=500&desc=Biosample.Ecosystem+Subtype

[2021-05-20 02:31] TBKReddy commented on #282
All instances of Ohio and Ohio, USA have been now updated to USA: Ohio at the source in GOLD.  The same can be done in the NMDC.  The correct format we use for geographic location is USA: City, State.

@jagadishcs check for other inconsistencies in the geographic location field. Get those fixed and communicate the update values  for NMDC JSON update.

[2021-05-20 20:27] ssarrafan opened #346 "Python expertise help for Bill and Donny"
This issue is related to issue [312](https://github.com/microbiomedata/nmdc-metadata/issues/312) and issue 309: https://github.com/microbiomedata/nmdc-metadata/issues/309
This issue is assigned to Emiley and Set to get some help for Python expertise.

[2021-05-20 20:34] ssarrafan opened #347 "Create documentation and templates to code (Python) business logic for NMDC"
This issue is related to issue [312](ocument and template this type of work to make it easier for others to help with these types of changes in the future.  )
@dwinston offered to create documentation and templates so more people can help with code on the NMDC team.

Due to Donny's availability I am pushing this to the June sprint.

[2021-05-20 20:46] ssarrafan opened #348 "Create generalized rule(s) from business logic for JGI and EMSL to improve appropriate filtering of data"
This issue is related to issues 312 and 309:
https://github.com/microbiomedata/nmdc-metadata/issues/309
https://github.com/microbiomedata/nmdc-metadata/issues/312

@dehays and @dwinston  to implement business logic for JGI and EMSL to filter appropriate data into NMDC

[2021-05-20 22:16] dehays commented on #341
The solution to this and other issues of omics_processing without has_input samples is to use an agreed upon (Yuri, Lee Ann) set of instrument process datasets from EMSL as the basis of inclusion in NMDC.

What we currently have in NMDC is based on these files that Lee Ann provided:

[](https://docs.google.com/spreadsheets/d/1VMJ_Tvld3cZYh9NJHdItVWpV0DmOUYH4)
[](https://docs.google.com/spreadsheet

[2021-05-20 22:26] dehays commented on #342
The decision here is to either 1) make the changes in GOLD and then propagate to NMDC or 2) make the change in NMDC and alert GOLD to update biosample records there.

[2021-05-22 00:24] pvangay opened #349 "Figure out how to list samples in the data portal"
Related to https://github.com/microbiomedata/nmdc-metadata/issues/342

Samples are currently listed by study/proposal names, which can be misleading in some cases.

In 5/21/21 "docuthon" meeting, @mslarae13 @dehays @dwinston discussed options, which include one or more of:

- sample_name (new datasets)
- IGSN
- UUID
- local sample ID

Action items:

- [ ] identify who needs to be included in the d

[2021-05-23 17:12] dehays commented on #349
This issue might be better off in nmdc-server (where, non intuitively, the client code is) because this is about how best to display an NMDC biosample.  That display can only use the biosample attributes that are available.  So this is not a question of whether to display an IGSN or a UUID, biosample has an id attribute that can take several forms: gold:, igsn: or emsl:.  For gold: and igsn: sampl

[2021-05-24 12:23] dwinston commented on #346
From the email conversation with Patrick Chain, it seems that this requires identification of particular tasks and issues. I have made a [python](https://github.com/microbiomedata/nmdc-runtime/labels/python) tag in the nmdc-runtime repo for annotating these as they become apparent. Also, it seems that completing #347 would be a prerequisite for such help.

[2021-05-24 23:25] pvangay opened #350 "Add citation to James Stegen's study page"
https://journals.plos.org/plosone/article/authors?id=10.1371/journal.pone.0228165

[2021-05-24 23:30] pvangay opened #351 "Recheck sample and omics linkages for Stegen dataset"
This may be related to https://github.com/microbiomedata/nmdc-metadata/issues/341

@mslarae13 and I met with James today to review his data in the portal. He thinks that every sample that has NOM should also have metaG. The numbers for the omics types do not seem to match what he thinks they should be. 1111 for NOM and 121 for metaP seems especially high.

[2021-05-25 00:17] pvangay opened #352 "Update sample environments for Stegen data"
@mslarae13 and I met with James today to review his data in the portal.

1. Sample names that are longer such as: "Groundwater microbial communities from the Columbia River, Washington, USA, for microbe roles in carbon and contaminant biogeochemistry - GW-RW metaG T3_30-Apr-14" are sand samples that have been sterilized in the lab per methods [here](https://journals.plos.org/plosone/article?id=10.

[2021-05-25 00:20] pvangay commented on #342
@mslarae13 please add a link to wrighton's latest metadata spreadsheet as some of these details may already be captured there

[2021-05-25 18:16] pvangay opened #353 "Evaluate which sample environmental metadata should be searchable via portal"
@dehays and Aim 1, please make a decision on the following:

1. Should these be in the left-panel search of the data portal? I think these are from GOLD and i dont see them in the NMDC spreadsheet. (these terms are a source of confusion for users, especially since we dont yet have descriptions)

- Community
- Location
- Sample Collection Site
- Habitat

2. May want to consider adding elevation (ma

[2021-05-26 21:20] pvangay opened #354 "Filtering by study then the study lat/lon produces different results"
For all studies, when you:

1. Select 1 study
2. Click on the point on the map (which is supposed to filter by the lat/lon of the study)

The number of omics data counts after Step 1 and Step 2 are different, when one would expect them to be the same. Perhaps some samples don't have lat/lon assigned? Or is this a breakdown in the links between samples/omics data? Or is this a UI issue? Please help

[2021-05-26 21:33] pvangay opened #355 "Add support for range values for Depth (Brodie dataset)"
Discovered this when @mslarae13 and I sat down with Eoin and his team to review their data in the portal.

_Soil microbial communities from the East River watershed near Crested Butte, Colorado, United States - ER_DNA_380_ has a depth of 5, when it should be 5-15 ([Brodie spreadsheet](https://drive.google.com/file/d/19PH8F-YqTZ3oUoWg1vKtPKHZT9YznXoA/view)). All of the depth values for the Brodie d

[2021-05-26 21:37] pvangay opened #356 "Missing depth parameter on Brodie ER_DNA_379"
_Soil microbial communities from the East River watershed near Crested Butte, Colorado, United States - ER_DNA_379_ does not have a depth parameter on its sample page: https://data.microbiomedata.org/details/sample/igsn:IEWFS001F - but it's reported as 0-5 in his spreadsheet.

There may be other samples that also have this problem.

[2021-05-26 21:49] dehays commented on #351
Using updated EMSL dataset lists (see #341) likely will reduce the number of NOM listed for Stegen.  The 121 count for metaP is also coming from the total number of instrument runs (EMSL datasets).  I know the number of metaP instrument datasets for which any analysis workflow was applied is much lower as the workflow requires matching to metaG annotation.  Meaning, if we should make a decision to

[2021-05-26 21:59] dehays commented on #355
This is a larger problem because MIxS has only a single value for 'depth' and does not support ranges.  If NMDC tries to support a range than that would mean diverging from MIxS. (There is a reason that Darwin Core has two fields: minDepth and maxDepth.)

[2021-05-26 22:03] pvangay commented on #355
Not sure if this is helpful, but MIxS's description for Depth:

[2021-05-26 22:09] pvangay opened #357 "Add descriptive info to NOM data files are displayed"
Discovered this when @mslarae13 and I sat down with Eoin and his team to review their data in the portal.

Eoin and his team did not know what any of these NOM files were based on the filenames. We either need to add descriptions to each of these files, rename them, or refine which files should be included here. They also pointed out that Brodie_w_rJanHESI_neg.csv sounds like it indicates that the

[2021-05-26 22:29] dehays commented on #357
After the completion of microbiomedata/nmdc-schema#20 - there would be task for @corilo to provide descriptions for these data objects and a task nmdc-server to use the data object description (looks like the UI is already looking for it)

[2021-05-27 17:43] ssarrafan commented on #312
@dehays @corilo @emileyfadrosh @jagadishcs is there any update on the business logic based on the previous comment? Will this logic be done this week?

[2021-05-27 18:01] ssarrafan commented on #346
Since completing #347 is a prerequisite and that can't be done till June I'm moving this to the June sprint.  Chris did offer some help from Mark too.

[2021-05-27 22:53] ssarrafan commented on #337
@mslarae13 thank you for putting in the links.  Can this issue be closed?

[2021-05-27 22:54] mslarae13 commented on #337
Template layout confirmed. Soil complete.
The "feed back" part of this task will start soon. I am going to close this one and create 2 new tasks in the June sprint.

[2021-05-27 22:54] #337 closed

[2021-05-27 22:54] ssarrafan commented on #333
@dehays @mslarae13 @StantonMartin any updates on this issue?  Can this issue be closed?

[2021-05-27 22:57] mslarae13 opened #358 "Finish 4 priority packages Metadata Template"
- [x] Soil
- [x] Sediment
- [x] Plant Assoc
- [x] Water

[2021-05-27 23:02] mslarae13 opened #359 "Generate sample metadata description of header rows"
Mark & Bill requested detailed information about the columns and components of the metadata to make a "map" or SSSOM.

[2021-05-27 23:13] ssarrafan commented on #308
@cmungall and @wdduncan what would you like to do with this issue?  Can we close it as the considering is done?  And open a new ticket for June to start implementing per Chris's comment?

[2021-05-27 23:31] mslarae13 commented on #334
Update

1. Bowen: 05/27: Followed up, still working

2. Brodie: updates needed see:
[https://github.com/microbiomedata/nmdc-metadata/issues/355](url)
[https://github.com/microbiomedata/nmdc-metadata/issues/356](url)
[https://github.com/microbiomedata/nmdc-metadata/issues/327](url)
[https://github.com/microbiomedata/nmdc-metadata/issues/340](url)
[https://github.com/microbiomedata/nmdc-metadata/iss

[2021-05-27 23:50] cmungall commented on #308
Let's make one ticket for 1+2, another for 3

[2021-05-28 00:01] ssarrafan opened #360 "Add more integrity checks on fields in JSON schema 2"
There are different levels of checks, this issue is to cover the first 2:

1. Is the ID prefix valid? (e.g. KEGG.KO vs KEGG.ORTHOLOG)
2 Is the local part of the ID syntactically conformant? (e.g. KEGG:K\d+)

The first is very easy to do with using the existing id_prefixes annotated in the schema

[2021-05-28 00:01] mslarae13 commented on #334
Communications & decisions complete closing this, Creating issues for Bowen, Hess, and Neumann

[2021-05-28 00:02] ssarrafan commented on #360
Continuation of work discussed (at least on GH) from the May sprint at https://github.com/microbiomedata/nmdc-metadata/issues/308

[2021-05-28 00:02] #334 closed

[2021-05-28 00:05] mslarae13 opened #361 "Finalize Metadata map for Bowen-FICUS"
05/27 Bowen group followed up that they're finishing the metadata. Once received, finalize the data for ingestion

[2021-05-28 00:05] ssarrafan opened #362 "Add more integrity checks on fields in JSON schema 3"
This issue is to document, implement the third way to do integrity checks:

Is the ID valid and appropriate?

The 3rd is more difficult, a few approaches:

Additional code outside the schema that does lookups with public APIs to check the ID is valid and not obsolete and yields a semantically appropriate entity
We enumerate all valid IDs and include as an enum in the schema. Note these could be qu

[2021-05-28 00:06] mslarae13 opened #363 "Finalize metadata map for Hess-FICUS"
Hess team will follow up mid June with metadata

[2021-05-28 00:07] ssarrafan commented on #308
Created two GH issues for June, assigned to @cmungall @wdduncan and @turbomam.  Please remove wrong assignments if any or let me know.

https://github.com/microbiomedata/nmdc-metadata/issues/360
https://github.com/microbiomedata/nmdc-metadata/issues/362

Closing this issue.

[2021-05-28 00:07] #308 closed

[2021-05-28 00:07] ssarrafan commented on #360
Third level of checks handled in https://github.com/microbiomedata/nmdc-metadata/issues/362

[2021-05-28 00:08] ssarrafan commented on #362
Continuation of work discussed (at least on GH) from the May sprint at #308

[2021-05-28 00:08] mslarae13 opened #364 "Finalize metadata for Neumann-FICUS"
PI sent metadata, working to finalize samples map

- [ ] Finish sorting metadata

- [ ] Send followup questions

[2021-05-28 22:56] ssarrafan opened #365 "Finalized metadata training (slides and online activity)"

[2021-05-28 22:57] ssarrafan commented on #365
@elishawc I assigned this to you but let me know If it should be re-assigned.  The other person mentioned in the notes to work on this is @mslarae13

[2021-05-28 23:02] ssarrafan opened #370 "Project/study page and available metadata for BioScales project"

[2021-05-28 23:05] ssarrafan commented on #332
This was on the list from the June sprint planning meeting so I will move this to the June sprint.  @dehays I'll leave it assigned to you but let me know if it should be re-assigned.  The other person noted to work on this is @dwinston

[2021-05-29 02:14] wdduncan commented on #336
@ssarrafan this is an ongoing process, but it looks like the process has gotten started. So, I'll move this to the June sprint while the work continues.

[2021-05-29 15:18] elishawc commented on #365
This is fine. I'll see them thru the next round of polishing. @mslarae13 and I need to connect on the hand-off plan.

[2021-06-02 01:57] ssarrafan commented on #345
Closing per @elishawc

[2021-06-02 01:57] #345 closed

[2021-06-02 16:20] dehays commented on #333
This was blocked in May by changes to NMDC schema and availability of additional sample metadata. Moving to June.

[2021-06-02 18:23] ssarrafan commented on #335
Moved to the June sprint per @mslarae13 on Slack.  Also removed assignees @corilo and @pdpiehowski.  Once Montana is ready for them she can assign the issue to them when she's done with her part.

[2021-06-02 23:23] ssarrafan commented on #301
Removing Jon and Donny per discussion with Kjiersten.  @wdduncan let me know if this shouldn't be assigned to you or if you don't have time to work on it.

[2021-06-02 23:33] ssarrafan commented on #362
@turbomam I've kept you as the one assignee on this issue.  Let me know if that's not ok.

[2021-06-02 23:34] ssarrafan commented on #360
Removing other assignees. @turbomam let me know if this assignment isn't you.

[2021-06-02 23:50] mslarae13 opened #366 "Identify necessary Project information components"
See - https://docs.google.com/spreadsheets/d/10TU3E-TAbtzeo-_S8rYfSq8Xvp6wm1RMpo0LYtR4t9w/edit?usp=sharing

ReadMe -> Project Information section (details from GOLD or added per meeting conversation)

Everyone, could you please information what components here are not necessary, what needs added, and add definitions to components with ??, as I am not familiar with how to identify these.

@wdduncan

[2021-06-03 00:03] mslarae13 opened #367 "Finalize taxonomy_ID vs organism for NCBI"
NCBI require organism or taxonomy for samples as they match to -> https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=408169

@SamuelPurvine has mentioned that DMS at EMSL can link this as well and is useful for proteomics. I need some information & a decision on how to identify / describe this component and what we want to call it.

See column S in Metadata Tab or row 68 in the ReadMe tab

[2021-06-03 00:08] mslarae13 commented on #358
Packages added and complete. Waiting on completion of other issues for this to be 100 % complete
https://github.com/microbiomedata/nmdc-metadata/issues/366
&
https://github.com/microbiomedata/nmdc-metadata/issues/367

[2021-06-03 17:39] mslarae13 commented on #367
Done! Emiley sent me information & I'm updating it!

[2021-06-03 17:39] #367 closed

[2021-06-03 17:58] ssarrafan commented on #348
@dwinston and @dehays can one of you own this issue (maybe do the first draft?) so we can try having GH issues assigned to one person at a time?

[2021-06-03 18:01] ssarrafan commented on #336
Thanks @wdduncan can I make you the owner of this issue and remove the other assignees?

[2021-06-03 18:21] wdduncan commented on #336
@ssarrafan I think either @jagadishcs or @mslarae13 should be owners or (co-owners). I am just responding to their needs. They are in charge of deciding if the subset is appropriate.

[2021-06-03 18:25] ssarrafan commented on #336
Ok thanks @wdduncan.  @jagadishcs I will leave this one assigned to you but please let me know if that's not correct.

[2021-06-03 18:37] wdduncan commented on #366
I made comments, but unfortunately. I am not familiar with things like NCBI Umbrella Projects.

[2021-06-03 18:40] wdduncan commented on #362
@ssarrafan This should be assigned to me.

[2021-06-03 19:54] ssarrafan commented on #362
ok thanks for taking another one Bill!